<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">公告管理</h1>
</div>
<div class="wrapper-md" ng-controller="AnnounceCtrl">
    <div class="col-sm-12" align='right'>
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-inline form-validation">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" placeholder="标题" ng-model="info">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <button type="button" class="btn btn-default" ng-click="search(page.page)">查询</button>
                            <button class="btn btn-addon btn-info" ng-click="add()">添加</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>标题</th>
                            <th>生效时间</th>
                            <th>失效时间</th>
                            <th>处理</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="announce in announces track by $index">
                            <td >{{$index+1}}</td>
                            <td >{{announce.title}}</td>
                            <td >{{announce.start_at}}</td>
                            <td >{{announce.stop_at}}</td>
                            <td >
                                <div class="btn-group-sm" uib-dropdown>
                                    <button class="btn btn-default" ng-click="edit(announce)">修改</button>
                                    <button class="btn btn-danger" confirm="remove(announce)">删除</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer clearfix">
                <div class='col-sm-4 hidden-xs'>
                </div>
                <div class='col-sm-4 text-center'>
                    <small class='text-muted inline m-t-sm m-b-sm'>总共{{page.count}}条,当前{{page.page}}/{{page.total}}页</small>
                </div>
                <div class='col-sm-4 text-right text-center-xs'>
                    <ul class='pagination pagination-sm m-t-none m-b-none'>
                        <li><a href='' ng-click='search(1)'><i class='fa fa-angle-double-left'></i></a></li>
                        <li><a href='' ng-click='search(page.page - 1)'><i class='fa fa-angle-left'></i></a></li>
                        <li><a href='' ng-click='search(page.page + 1)'><i class='fa fa-angle-right'></i></a></li>
                        <li><a href='' ng-click='search(page.total)'><i class='fa fa-angle-double-right'></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>