    <div class="wrapper-md">
        <form name="form" class="form-validation" novalidate>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span><b>基本信息</b></span>
                </div>
                <div class="panel-body">
                    <div class="form-group col-xs-2">
                        标题：
                    </div>
                    <div class="form-group col-xs-10">
                        <input required class="form-control" placeholder="请输入10个字符" ng-model="announce.title">
                    </div>
                
                    <div class="form-group col-xs-2">
                        生效日期：
                    </div>
                    <div class="form-group col-xs-4">
                        <input required class="form-control" type="text" mydatepicker ng-model="announce.start_at">
                    </div>
                
                    <div class="form-group col-xs-2">
                        失效日期：
                    </div>
                    <div class="form-group col-xs-4">
                        <input required class="form-control" mydatepicker placeholder="失效日期" ng-model="announce.stop_at">
                    </div>
                
                    <div class="form-group col-xs-2">
                        是否置顶：
                    </div>
                    <div class="form-group col-xs-4">
                        <label class="i-switch bg-info m-t-xs m-r">
                            <input type="checkbox" ng-model="announce.istop" ng-true-value="Y" ng-false-value="N" checked><i></i>
                        </label>
                    </div>
                    
                </div>
                
                <div class="panel-heading">
                    <span><b>内容信息</b></span>
                </div>
                <div class="panel-body">
                    
                        <div class="form-group col-xs-2">
                            公告内容：
                        </div>
                        <div class="form-group col-xs-10">
                          <textarea required class="form-control" rows="10" cols="100" placeholder="公告内容" ng-model="announce.content">
                          </textarea>
                        </div>
                    
                </div>
                <div class="panel-footer text-right">
                    <button class="btn btn-info btn-md" ng-click="save()" >保存</button>
                    <button class="btn btn-default btn-md" ng-click="cancel()" >返回</button>
                </div>
            </div>
        </form>
    </div>