<div class="wrapper-md">
    <form name="form" class="form-validation" novalidate>
        <div class="modal-body">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="text-right">姓名</label>
                    <div><input class="form-control" placeholder="" ng-model="customer.name"></div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="text-right">电话</label>
                    <div><input class="form-control" placeholder="" ng-model="customer.tel"></div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="text-right">qq</label>
                    <div><input class="form-control" placeholder="" ng-model="customer.qq"></div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="text-right">邮箱</label>
                    <div><input class="form-control" placeholder="" ng-model="customer.email"></div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="text-right">省市区街道</label>
                    <div area-street="customer.street"></div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="text-right">地址</label>
                    <div><input class="form-control" placeholder="" ng-model="customer.address"></div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-disabled="form.$invalid" ng-click="save()"><i class="fa fa-save"></i>&nbsp;保存</button>
            <button class="btn btn-default" ng-click="cancel()"><i class="fa fa-times"></i>&nbsp;关闭</button>
        </div>
    </form>
</div>