<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">客户信息</h1>
</div>
<div class="wrapper-md" ng-controller="CustomerCtrl">
    <div class="col-sm-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-inline form-validation" name="condForm">
                    <div class="form-group">
                        <input class="form-control" placeholder="客户工号、客户姓名" ng-model="cond.like">
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="search(page.page)"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-inline form-validation">
                    <div class="form-group">
                        <button class="btn btn-primary" ng-disabled="condForm.$invalid" ng-click="add()">新增</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>客户姓名</th>
                            <th>客户电话</th>
                            <th>qq</th>
                            <th>客户邮件</th>
                            <th>地址</th>
                            <th>处理</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in customers track by $index">
                            <td>{{item.name}}</td>
                            <td>{{item.tel}}</td>
                            <td>{{item.qq}}</td>
                            <td>{{item.email}}</td>
                            <td>{{item.address}}</td>
                            <td>
                                <div class="btn-group-sm" uib-dropdown>
                                    <button class="btn" uib-dropdown-toggle>操作<span class="caret"></span></button>
                                    <ul uib-dropdown-menu>
                                        <li><a href="" ng-click="edit(item)">修改</a></li>
                                        <li><a href="" confirm="remove(item)">删除</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer clearfix">
                <div class='col-sm-4 hidden-xs'>
                </div>
                <div class='col-sm-4 text-center'>
                    <small class='text-muted inline m-t-sm m-b-sm'>总共{{page.count}}条,当前{{page.page}}/{{page.total}}页</small>
                </div>
                <div class='col-sm-4 text-right text-center'>
                    <ul class='pagination pagination-sm m-t-none m-b-none'>
                        <li><a href='' ng-click='search(1)'><i class='fa fa-angle-double-left'></i></a></li>
                        <li><a href='' ng-click='search(page.page - 1)'><i class='fa fa-angle-left'></i></a></li>
                        <li><a href='' ng-click='search(page.page + 1)'><i class='fa fa-angle-right'></i></a></li>
                        <li><a href='' ng-click='search(page.total)'><i class='fa fa-angle-double-right'></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>