<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">知识库</h1>
</div>
<div class="wrapper-md" ng-controller="KbDirectoryCtrl">

    <div class="panel panel-default">
        <div class="panel-body">
            <form name="form" class="form-inline form-validation" novalidate>
                <button type="button" class="btn btn-primary" ng-click="init()">建立顶级目录</button>
            </form>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="list-group" ng-repeat="node in data.nodes" ng-include="'nodes_renderer.html'"></div>
        </div>
    </div>
</div>

<!-- Nested node template -->
<script type="text/ng-template" id="nodes_renderer.html">
<div class="list-group-item" style="margin:-1px">
    <a href="" ng-if="!node.nodes || node.nodes.length == 0" ng-click="expand(node.id)">
        <span class="fa fa-plus-square-o"></span>        
    </a>
    <a href="" ng-if="node.nodes.length > 0" ng-click="node.nodes = []">
        <span class="fa fa-minus-square-o"></span>
    </a>
    <span ng-bind-html="node.spaces"></span>{{node.name}}
    <div class="col-md-2 pull-right">
        <span class="btn-group btn-group-xs" uib-dropdown>
        <button class="btn btn-info" uib-dropdown-toggle>操作&nbsp;<span class="caret"></span></button>
        <ul uib-dropdown-menu>
            <li><a href="" ng-click="add(node)">新增目录</a></li>
            <li><a href="" ng-click="edit(node)">编辑目录</a></li>
            <li><a href="" confirm="remove(node)">删除目录</a></li>
            <li><a href="" ng-click="file(node)">添加条目</a></li>
            <li><a href="" ng-click="view(node)">查看条目</a></li>
        </ul>
        </span>
    </div>
</div>
<div ng-repeat="node in node.nodes" ng-include="'nodes_renderer.html'"></div>
</script>

<script type="text/ng-template" id="kb_directory_add.html">
<div class="wrapper-md">
    <form name="form" class="form-validation" novalidate>
        <div class="modal-body">
            <div class='form-group'>
                <label class='text-right'>目录名称</label>
                <div>
                    <input class='form-control' placeholder='' ng-model='kb_directory.name' required>
                </div>
                <label class='text-right'>备注</label>
                <div>
                    <input class='form-control' placeholder='' ng-model='kb_directory.remark' required>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-disabled="form.$invalid" ng-click="save()"><i class="fa fa-save"></i>&nbsp;保存</button>
            <button class="btn btn-default" ng-click="cancel()"><i class="fa fa-times"></i>&nbsp;关闭</button>
        </div>
    </form>
</div>
</script>

<script type="text/ng-template" id="kb_directory_edit.html">
<div class="wrapper-md">
    <form name="form" class="form-validation" novalidate>
        <div class="modal-body">
            <div class='form-group'>
                <label class='text-right'>目录名称</label>
                <div>
                    <input class='form-control' placeholder='' ng-model='kb_directory.name' required>
                </div>
                <label class='text-right'>备注</label>
                <div>
                    <input class='form-control' placeholder='' ng-model='kb_directory.remark' required>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-disabled="form.$invalid" ng-click="save()"><i class="fa fa-save"></i>&nbsp;保存</button>
            <button class="btn btn-default" ng-click="cancel()"><i class="fa fa-times"></i>&nbsp;关闭</button>
        </div>
    </form>
</div>
</script>

<script type="text/ng-template" id="kb_file_add.html">
<div class="wrapper-md">
    <form name="form" class="form-validation" novalidate>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="save()"><i class="fa fa-save"></i>&nbsp;保存</button>
            <button class="btn btn-default" ng-click="cancel()"><i class="fa fa-times"></i>&nbsp;关闭</button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label class='text-right'>文件名称</label>
                <div>
                    <input class='form-control' placeholder='' ng-model='kb_file.name' required>
                </div>
                <label class='text-right'>关键字</label>
                <div>
                    <input class='form-control' placeholder='' ng-model='kb_file.key_word' required>
                </div>
                <label class="text-right">类别</label>
                <div>
                     <select ng-model="kb_file.type" class="form-control">
                        <option value="all">全部</option>
                    </select>
                </div>
                <label class="text-right">添加附件</label>
                <div>
                      <div upload upload-type="import" ng-model="kb_file.file"></div>
                </div>
                <label class="text-right">生效日期</label>
                <div class="form-inline">
                     <input class='form-control' placeholder='' ng-model='kb_file.start_at' mydatepicker>~~~<input class='form-control' placeholder='' ng-model='kb_file.stop_at' mydatepicker>
                </div>
                <label class="text-right">是否置顶</label>
                <div>
                    <label class="i-switch bg-info m-t-xs m-r">
                        <input type="checkbox" ng-model="kb_file.istop" ng-true-value=1 ng-false-value=0 checked><i></i>
                    </label>
                </div>
                <label class="text-right">文本内容</label>
                <div>
                     <textarea class='form-control' rows="10" placeholder='文本内容' ng-model='kb_file.content' required>
                </div>
            </div>
            
        </div>
    </form>
</div>   
</script>

<!-- 条目查询-->
<script type="text/ng-template" id="kb_file.html">

    <div class="col-sm-12" align='right'>
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-inline form-validation">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" placeholder="标题、内容" ng-model="info">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="search(page.page)"><i class="fa fa-search"></i></button>
                            </span>
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <button class="btn btn-addon btn-info" ng-click="add()">新增</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>标题</th>
                            <th>创建时间</th>
                            <th>创建人</th>
                            <th>状态</th>
                            <th>处理</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="file in files track by $index">
                            <td >{{$index+1}}</td>
                            <td >{{file.name}}</td>
                            <td >{{file.create_at}}</td>
                            <td >{{file.opt_by}}</td>
                            <td >{{file.status}}</td>
                            <td >
                                <div class="btn-group-sm pull-right" uib-dropdown>
                                    <button class="btn btn-default" ng-click="edit(file)">修改</button>
                                    <button class="btn btn-danger" confirm="remove(file)">删除</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer clearfix">
                <div class='col-sm-4 hidden-xs'>
                </div>
                <div class='col-sm-4 text-center'>
                    <small class='text-muted inline m-t-sm m-b-sm'>总共{{page.count}}条,当前{{page.page}}/{{page.total}}页</small>
                </div>
                <div class='col-sm-4 text-right text-center-xs'>
                    <ul class='pagination pagination-sm m-t-none m-b-none'>
                        <li><a href='' ng-click='search(1)'><i class='fa fa-angle-double-left'></i></a></li>
                        <li><a href='' ng-click='search(page.page - 1)'><i class='fa fa-angle-left'></i></a></li>
                        <li><a href='' ng-click='search(page.page + 1)'><i class='fa fa-angle-right'></i></a></li>
                        <li><a href='' ng-click='search(page.total)'><i class='fa fa-angle-double-right'></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>