<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">查看</h1>
</div>
<div class="wrapper-md">
  <div class="row">
    <div class="col-sm-9">
      <div class="blog-post">                   
        <div class="panel">
          <div>
            <img src="img/c0.jpg" class="img-full">
          </div>
          <div class="wrapper-lg">
            <h2 class="m-t-none"><a href>{{file.name}}</a></h2>
            <div>
              <p>{{file.content}}</p>
            </div>
            <div class="line line-lg b-b b-light"></div>
            <div class="text-muted">
              <i class="fa fa-user text-muted"></i> by <a href class="m-r-sm"><span trans-agent="{{file.opt_by}}"></span></a>
              <i class="fa fa-clock-o text-muted"></i> {{file.create_at}}
              <a href class="m-l-sm"><i class="fa fa-comment-o text-muted"></i> 2 views</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>