<div class="bg-light lter b-b wrapper-md" >
  <h1 class="m-n font-thin h3"><i class="icon-magnifier i-sm m-r-sm"></i> 全文检索</h1>
</div>
<div class="wrapper-md" ng-controller="LuceneCtrl">
  <form action="#" class="m-b-md">
    <div class="input-group">
      <input type="text" ng-model='info'  class="form-control input-lg" placeholder="输入标题、关键字">
      <span class="input-group-btn">
        <button class="btn btn-lg btn-default" type="button" ng-click="search(page.page)">搜索</button>
      </span>
    </div>
  </form>
  <p class="m-b-md"><strong>{{page.count}}</strong> 个结果 关键字: <strong>{{info}}</strong></p>
  <tabset class="tab-container">
    <tab>
      <tab-heading>
        全部 <span class="badge badge-sm m-l-xs">{{page.count}}</span>
      </tab-heading>

      <ul class="list-group no-borders pull-in m-b-none" ng-repeat="file in files track by $index">
        <li class="list-group-item">
          <a ng-click="view(file)" class="h4 text-primary m-b-sm m-t-sm block">{{file.name}}</a>
          <p>{{file.content}}</p>
          <p><span class="label bg-primary pos-rlt m-r inline wrapper-xs"><i class="arrow right arrow-primary"></i> 标签:</span> <a href class="m-r-sm">{{file.create_at}}</a> <a href><span trans-agent="{{file.opt_by}}"></span></a>
          </p>
        </li>
      </ul>
    </tab>
  </tabset>
</div>