<div class="aside-wrap">
    <!-- if you want to use a custom scroll when aside fixed, use the slimScroll
    <div class="navi-wrap" ui-jq="slimScroll" ui-options="{height:'100%', size:'8px'}">
    -->
    <div class="navi-wrap">
        
        <!-- nav -->
        <nav ui-nav class="navi clearfix" ng-include="'../views/blocks/nav.html'"></nav>
        <!-- nav -->

        <!-- aside footer -->
        <div class="wrapper m-t">
            <!--<div class="text-center-folded">
                <span class="pull-right pull-none-folded">20%</span>
                <span class="hidden-folded" translate="aside.nav.stat.assign">当天派单</span>
            </div>
            <progressbar value="60" class="progress-xxs m-t-sm dk" type="info"></progressbar>
            <div class="text-center-folded">
                <span class="pull-right pull-none-folded">15%</span>
                <span class="hidden-folded" translate="aside.nav.stat.handle">当天处理</span>
            </div>
            <progressbar value="35" class="progress-xxs m-t-sm dk" type="primary"></progressbar>
            <div class="text-center-folded">
                <span class="pull-right pull-none-folded">10%</span>
                <span class="hidden-folded" translate="aside.nav.stat.complete">当天完成</span>
            </div>
            <progressbar value="35" class="progress-xxs m-t-sm dk" type="success"></progressbar>-->
        </div>
        <!-- / aside footer -->
    </div>
</div>
