<div class="wrapper-sm">
    <div class="modal-body">{{tips.message || '是否确认操作?'}}</div>
    <div class="modal-footer">
        <button class="btn btn-success btn-sm" ng-click="ok()">确定</button>
        <button class="btn btn-default btn-sm" ng-click="cancel()">取消</button>
    </div>
</div>