<!-- navbar header -->
<div class="navbar-header {{app.settings.navbarHeaderColor}}">
    <button class="pull-right visible-xs dk" ui-toggle-class="show" data-target=".navbar-collapse">
        <i class="glyphicon glyphicon-cog"></i>
    </button>
    <button class="pull-right visible-xs" ui-toggle-class="off-screen" data-target=".app-aside" ui-scroll-to="app">
        <i class="glyphicon glyphicon-align-justify"></i>
    </button>
    <!-- brand -->
    <a href="#/" class="navbar-brand text-lt">
        <i class="fa fa-btc"></i>
        <img src="img/logo.png" alt="." class="hide">
        <span class="hidden-folded m-l-xs">{{app.name}}</span>
    </a>
    <!-- / brand -->
</div>
<!-- / navbar header -->

<!-- navbar collapse -->
<div class="collapse pos-rlt navbar-collapse box-shadow {{app.settings.navbarCollapseColor}}">
    <!-- buttons -->
    <div class="nav navbar-nav hidden-xs">
        <a href class="btn no-shadow navbar-btn" ng-click="app.settings.asideFolded = !app.settings.asideFolded">
            <i class="fa {{app.settings.asideFolded ? 'fa-indent' : 'fa-dedent'}} fa-fw"></i>
        </a>
        <!--<a href class="btn no-shadow navbar-btn" ui-toggle-class="show" target="#aside-user">
            <i class="icon-user fa-fw"></i>
        </a>-->
    </div>
    <!-- / buttons -->

    <!-- link and dropdown -->
    <ul class="nav navbar-nav hidden-sm">
        <!--<li class="pos-stc" uib-dropdown>
            <a href="" uib-dropdown-toggle>
                <span>功能</span>
                <span class="caret"></span>
            </a>
            <div class="wrapper w-full bg-white" uib-dropdown-menu>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="m-l-xs m-t-xs m-b-xs font-bold">常用</div>
                        <div class="row">
                            <div class="col-xs-6">
                                <ul class="list-unstyled l-h-2x">
                                    <li>
                                        <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>流程</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-6">
                                <ul class="list-unstyled l-h-2x">
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 b-l b-light">
                        <div class="m-l-xs m-t-xs m-b-xs font-bold">配置</div>
                        <div class="row">
                            <div class="col-xs-6">
                                <ul class="list-unstyled l-h-2x">
                                    <li>
                                        <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>用户</a>
                                    </li>
                                    <li>
                                        <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>部门</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-6">
                                <ul class="list-unstyled l-h-2x">
                                    <li>
                                        <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>数据源</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 b-l b-light">
                        <div class="m-l-xs m-t-xs m-b-sm font-bold">统计</div>
                        <div class="text-center">
                            <div class="inline">
                                <div ui-jq="easyPieChart" ui-options="{
                                    percent: 65,
                                    lineWidth: 50,
                                    trackColor: '{{app.color.light}}',
                                    barColor: '{{app.color.info}}',
                                    scaleColor: false,
                                    size: 100,
                                    rotate: 90,
                                    lineCap: 'butt',
                                    animate: 2000
                                }"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>-->
        <li uib-dropdown>
            <a href uib-dropdown-toggle>
                <i class="fa fa-fw fa-plus visible-xs-inline-block"></i>
                <span>功能</span> <span class="caret"></span>
            </a>
            <ul uib-dropdown-menu role="menu">
                <li>
                    <a href="" ui-serf="app.ivr"><span>流程</span></a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- / link and dropdown -->

    <!-- search form -->
    <form class="navbar-form navbar-form-sm navbar-left shift" ui-shift="prependTo" target=".navbar-collapse" role="search">
        <div class="form-group">
            <div class="input-group">
                <input disabled type="text" ng-model="selected" typeahead="" class="form-control bg-light no-border rounded padder" placeholder="查询...">
                <span class="input-group-btn">
                    <button disabled type="submit" class="btn bg-light rounded"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
    </form>
    <!-- / search form -->

    <!-- nabar right -->
    <ul class="nav navbar-nav navbar-right">
        <li class=" hidden-sm" is-open="lang.isopen" uib-dropdown>
            <a href uib-dropdown-toggle>
                {{selectLang}} <b class="caret"></b>
            </a>
            <!-- dropdown -->
            <ul class="animated fadeInRight w" uib-dropdown-menu>
                <li ng-repeat="(langKey, label) in langs">
                    <a ng-click="setLang(langKey, $event)" href>{{label}}</a>
                </li>
            </ul>
            <!-- / dropdown -->
        </li>
        <li class="hidden-xs">
            <a ui-fullscreen></a>
        </li>
        <li uib-dropdown>
            <a href="" uib-dropdown-toggle>
                <i class="icon-bell fa-fw"></i>
                <span class="visible-xs-inline">消息</span>
                <!--<span class="badge badge-sm up bg-danger pull-right-xs">2</span>-->
            </a>
            <!-- dropdown -->
            <div class="w-xl animated fadeInUp" uib-dropdown-menu>
                <div class="panel bg-white">
                    <div class="panel-heading b-light bg-light">
                        <strong>您有 <span></span> 消息</strong>
                    </div>
                    <div class="list-group">
                        <!--<a href class="media list-group-item">
                            <span class="pull-left thumb-sm">
                                <img src="img/a0.jpg" alt="..." class="img-circle">
                            </span>
                            <span class="media-body block m-b-none">
                                未接工单<br>
                                <small class="text-muted">10 minutes ago</small>
                            </span>
                        </a>-->
                    </div>
                    <div class="panel-footer text-sm">
                        <a href class="pull-right"><i class="fa fa-cog"></i></a>
                        <a href="#notes" data-toggle="class:show animated fadeInRight">查看所有消息</a>
                    </div>
                </div>
            </div>
            <!-- / dropdown -->
        </li>
        <li uib-dropdown>
            <a href class="clear" uib-dropdown-toggle>
                <span class="thumb-xs avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                    <img src="img/a0.jpg" alt="...">
                    <i class="on md b-white bottom"></i>
                </span>
                <span class="hidden-sm hidden-md" ng-controller="UserInfoCtrl">{{user.name}}</span> <b class="caret"></b>
            </a>
            <!-- dropdown -->
            <ul class="animated fadeInRight w" uib-dropdown-menu>
                <!--<li>
                    <a ui-sref="app.profile">
                        <i class="fa fa-gear text-success"></i>&nbsp;&nbsp;个人设置
                    </a>
                </li>
                <li>
                    <a ui-sref="app.resource">
                        <span class="label bg-info pull-right">资料</span>
                        <i class="fa fa-book"></i>&nbsp;&nbsp;文档资料
                    </a>
                </li>
                <li class="divider"></li>-->
                <li ng-controller="LogoutCtrl">
                    <a href="" ng-click="logout()"><i class="fa fa-power-off text-danger"></i>&nbsp;&nbsp;登出</a>
                </li>
            </ul>
            <!-- / dropdown -->
        </li>
    </ul>
    <!-- / navbar right -->

</div>
<!-- / navbar collapse -->
