<!-- list -->
<ul class="nav">
    <li>
        <a ui-sref="app.dashboard">
            <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
            <span class="font-bold">总览</span>
        </a>
    </li>


    <li class="line dk"></li>
    
    <li ng-class="{active:$state.includes('app.global')}">
        <a href="" class="auto" >
            <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="fa fa-gears text-warning"></i>
            <span>全局配置</span>
        </a>
        <ul class="nav nav-sub dk">            
            <li ui-sref-active="active">
                <a ui-sref="app.global.global_meta" ng-if="has('global_meta:add')||has('global_meta:edit')"> 
                    <span>全局数据字典</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.global.global_config" ng-if="has('global_config:add')||has('global_config:edit')">
                    <span>全局配置</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.global.level" ng-if="has('level:add')||has('level:edit')">
                    <span>等级权限</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.global.permission" ng-if="has('permission:add')||has('permission:edit')">
                    <span>功能权限</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.global.tenant" ng-if="has('tenant:add')||has('tenant:edit')">
                    <span>租户管理</span>
                </a>
            </li>
        </ul>        
    </li>

    <li ng-class="{active:$state.includes('app.system')}">
        <a href="" class="auto">
            <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="fa fa-gear text-info"></i>
            <span>系统配置</span>
        </a>
        <ul class="nav nav-sub dk">            
            <li ui-sref-active="active">
                <a ui-sref="app.system.metadata" ng-if="has('metadata:add')||has('metadata:edit')">
                    <span>数据字典</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.system.config" ng-if="has('config:add')||has('config:edit')">
                    <span>配置信息</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.system.department" ng-if="has('department:add')||has('department:edit')">
                    <span>部门</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.system.user" ng-if="has('agent:add')||has('agent:edit')">
                    <span>用户管理</span>
                </a>
            </li>
        </ul>        
    </li>

    <li ng-class="{active:$state.includes('app.service')}">
        <a href="" class="auto">
            <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="fa fa-sticky-note-o text-danger"></i>
            <span>工单</span>
        </a>
        <ul class="nav nav-sub dk">
            <li ui-sref-active="active">
                <a ui-sref="app.service.service" ng-if="has('service:view')">
                    <span>工单查询</span>
                </a>
            </li>
            
            <li ui-sref-active="active">
                <a ui-sref="app.service.service_add({type:7})" ng-if="has('service:add')">
                    <span>家电维修</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.service.service_add({type:13})" ng-if="has('service:add')">
                    <span>清洗服务</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.service.service_axb" ng-if="has('service:add')">
                    <span>安心保</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.service.service_mxb({type:13})" ng-if="has('service:add')">
                    <span>美心保</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.service.service_template" ng-if="has('service_template:add')||has('globalservice_template_config:edit')">
                    <span>工单模板</span>
                </a>
            </li>
        </ul>        
    </li>

    <li ng-class="{active:$state.includes('app.business')}">
        <a href="" class="auto">
            <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="fa fa-building text-success"></i>
            <span>日常</span>
        </a>
        <ul class="nav nav-sub dk">
            <li ui-sref-active="active">
                <a ui-sref="app.business.customer" ng-if="has('customer:add')||has('customer:edit')">
                    <span>客户管理</span>
                </a>
            </li>
        </ul>
    </li>

    <li>
        <a ui-sref="app.profile.password">
            <i class="icon-user icon text-default-lter"></i>
            <span>修改密码</span>
        </a>
    </li>
</ul>
<!-- / list -->
