<div class="row">
    <div class="col-md-3">
        <select class="form-control" ng-change="provinceChange()" ng-model="province" ng-options="item.code as item.name for item in provinces"></select>
    </div>
    <div class="col-md-3">
        <select class="form-control" ng-change="cityChange()" ng-model="city" ng-options="item.code as item.name for item in cities"></select>
    </div>
    <div class="col-md-3">
        <select class="form-control" ng-change="areaChange()" ng-model="area" ng-options="item.code as item.name for item in areas"></select>
    </div>    
    <div class="col-md-3">
        <select class="form-control" ng-change="streetChange()" ng-model="street" ng-options="item.code as item.name for item in streets"></select>
    </div>
</div>
