<div class="wrapper-md">
    <form name="form" class="form-validation" novalidate>
        <div class="modal-body">
            <div class="form-group">
                <label class="text-right">标记</label>
                <div><input required disabled class="form-control" placeholder="" ng-model="meta.key"></div>
            </div>
            <div class="form-group">
                <label class="text-right">说明</label>
                <div><input required class="form-control" placeholder="" ng-model="meta.context"></div>
            </div>

            <div class="form-group" ng-if="meta.key=='product:category'">
                <label class="text-right">产品类型<i class="fa fa-asterisk text-warning"></i></label>
                <select required class="form-control input-sm" ng-model="meta.source"
                        ng-options="metadata.value as metadata.context for metadata in metadatas|filter:{key:'product:type'}">
                    <option value="">请选择</option>
                </select>
            </div>

            <div class="form-group " ng-if="meta.key=='product:sub_category'">
                <label class="text-right">产品类别<i class="fa fa-asterisk text-warning"></i></label>
                <select required class="form-control input-sm" ng-model="meta.source"
                        ng-options="metadata.value as metadata.context for metadata in metadatas|filter:{key:'product:category'}">
                    <option value="">请选择</option>
                </select>
            </div>
            
            <div class="form-group">
                <label class="text-right">值</label>
                <div><input required class="form-control" placeholder="" ng-model="meta.value"></div>
            </div>
            <div class="form-group">
                <label class="text-right">状态</label>
                <div>
                    <label class="i-switch bg-info m-t-xs m-r">
                        <input type="checkbox" ng-model="meta.status" ng-true-value="1" ng-false-value="0" checked><i></i>
                    </label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-disabled="form.$invalid" ng-click="save()"><i class="fa fa-save"></i>&nbsp;保存</button>
            <button class="btn btn-default" ng-click="cancel()"><i class="fa fa-times"></i>&nbsp;关闭</button>
        </div>
    </form>
</div>