<div class="wrapper-md">
    <form name="form" class="form-validation" novalidate>
        <div class="modal-body">
            <div class="form-group">
               <label class="text-right">用户名</label>
               <div><input class="form-control" required ng-model="user.user_name"></div>
            </div>
            <div class="form-group">
               <label class="text-right">名称</label>
               <div><input class="form-control" required ng-model="user.name"></div>
            </div>
            <div class="form-group">
               <label class="text-right">密码</label>
               <div><input class="form-control" type="password" required ng-model="passwd.password"></div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-disabled="form.$invalid" ng-click="save()"><i class="fa fa-save"></i>&nbsp;保存</button>
            <button class="btn btn-default" ng-click="cancel()"><i class="fa fa-times"></i>&nbsp;关闭</button>
        </div>
    </form>
</div>