<div class="container w-xxl w-auto-xs" ng-controller="SignupCtrl"
     ng-init="app.settings.container = false;">
    <a href="" class="navbar-brand block m-t">{{app.name}}</a>

    <div class="m-b-lg">
        <div class="wrapper text-center">
            <strong>注册帐户</strong>
        </div>
        <form name="form" class="form-validation">
            <div class="text-danger wrapper text-center" ng-show="authError">
                {{authError}}
            </div>
            <div class="list-group list-group-sm">
                <div class="list-group-item">
                    <input placeholder="帐号" class="form-control no-border" ng-model="user.user_name" required>
                </div>
                <div class="list-group-item">
                    <input placeholder="姓名" class="form-control no-border" ng-model="user.display_name" required>
                </div>
                <div class="list-group-item">
                    <input type="password" placeholder="密码" class="form-control no-border"
                           ng-model="user.passwd" required>
                </div>
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="signup()"
                    ng-disabled='form.$invalid'>注册
            </button>
            <div class="line line-dashed"></div>
            <p class="text-center">
                <small>您是否已经有帐号?</small>
            </p>
            <a ui-sref="access.signin" class="btn btn-lg btn-default btn-block">登录</a>
        </form>
    </div>
    <div class="text-center" ng-include="'../views/blocks/page_footer.html'">
    </div>
</div>