<div class="container w-xxl w-auto-xs" ng-controller="SigninCtrl" ng-init="app.settings.container = false;">
    <a href class="navbar-brand block m-t">{{app.name}}</a>
    <div class="m-b-lg">
        <div class="wrapper text-center">
            <strong>登录</strong>
        </div>
        <form name="form" class="form-validation">
            <div class="text-danger wrapper text-center" ng-show="authError">
                {{authError}}
            </div>
            <div class="list-group list-group-sm">
                <div class="list-group-item">
                    <input type="text" placeholder="用户名" class="form-control no-border" ng-model="user.user_name" required>
                </div>
                <div class="list-group-item">
                    <input type="password" placeholder="密码" class="form-control no-border" ng-model="user.passwd" required>
                </div>
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="login()" ng-disabled='form.$invalid'>登录</button>
            <div class="text-center m-t m-b"><a ui-sref="access.forgotpwd">忘记密码?</a></div>
            <div class="line line-dashed"></div>
            <p class="text-center"><small>您是否有帐号?</small></p>
            <a ui-sref="access.signup" class="btn btn-lg btn-default btn-block">创建用户帐号</a>
        </form>
    </div>
    <div class="text-center" ng-include="'../views/blocks/page_footer.html'">
    </div>
</div>
