<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">部门</h1>
</div>
<div class="wrapper-md" ng-controller="DepartmentCtrl">

    <div class="panel panel-default">
        <div class="panel-body">
            <form name="form" class="form-inline form-validation" novalidate>
                <button type="button" class="btn btn-primary" ng-click="init()">建立顶级部门</button>
            </form>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="list-group" ng-repeat="node in data.nodes" ng-include="'nodes_renderer.html'"></div>
        </div>
    </div>
</div>

<!-- Nested node template -->
<script type="text/ng-template" id="nodes_renderer.html">
<div class="list-group-item" style="margin:-1px">
    <a href="" ng-if="!node.nodes || node.nodes.length == 0" ng-click="expand(node.id)">
        <span class="fa fa-plus-square-o"></span>        
    </a>
    <a href="" ng-if="node.nodes.length > 0" ng-click="node.nodes = []">
        <span class="fa fa-minus-square-o"></span>
    </a>
    <span ng-bind-html="node.spaces"></span>{{node.name}}
    <div class="col-md-2 pull-right">
        <span class="btn-group btn-group-xs" uib-dropdown>
        <button class="btn btn-info" uib-dropdown-toggle>操作&nbsp;<span class="caret"></span></button>
        <ul uib-dropdown-menu>
            <li><a href="" ng-click="add(node)">新增</a></li>
            <li><a href="" ng-click="edit(node)">编辑</a></li>
            <li><a href="" ng-click="member(node)">成员</a></li>
            <li><a href="" confirm="remove(node)">删除</a></li>
        </ul>
        </span>
    </div>
</div>
<div ng-repeat="node in node.nodes" ng-include="'nodes_renderer.html'"></div>
</script>

<script type="text/ng-template" id="department_add.html">
<div class="wrapper-md">
    <form name="form" class="form-validation" novalidate>
        <div class="modal-body">
            <div class='form-group'>
                <label class='text-right'>部门名</label>
                <div>
                    <input class='form-control' placeholder='' ng-model='department.name' required>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-disabled="form.$invalid" ng-click="save()"><i class="fa fa-save"></i>&nbsp;保存</button>
            <button class="btn btn-default" ng-click="cancel()"><i class="fa fa-times"></i>&nbsp;关闭</button>
        </div>
    </form>
</div>
</script>

<script type="text/ng-template" id="department_edit.html">
<div class="wrapper-md">
    <form name="form" class="form-validation" novalidate>
        <div class="modal-body">
            <div class='form-group'>
                <label class='text-right'>部门名</label>
                <div>
                    <input class='form-control' placeholder='' ng-model='department.name' required>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-disabled="form.$invalid" ng-click="save()"><i class="fa fa-save"></i>&nbsp;保存</button>
            <button class="btn btn-default" ng-click="cancel()"><i class="fa fa-times"></i>&nbsp;关闭</button>
        </div>
    </form>
</div>
</script>

<script type="text/ng-template" id="department_member.html">
<div class="wrapper-md">
    <form name="form" class="form-validation" novalidate>
        <div class="modal-body">
            <div class="form-group">
                <label class="text-right">成员</label>
                <div>
                    <select placeholder="请选择" multiple="multiple" selectize="{labelField:'name',valueField:'id',searchField:'name'}"
                    ng-options="item.id as item.name for item in users" ng-model="selected"></select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-disabled="form.$invalid" ng-click="save()"><i class="fa fa-save"></i>&nbsp;保存</button>
            <button class="btn btn-default" ng-click="cancel()"><i class="fa fa-times"></i>&nbsp;关闭</button>
        </div>
    </form>
</div>   
</script>