<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">路由策略管理</h1>
</div>
<div class="wrapper-md" ng-controller="InboundCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-inline form-validation" name="condForm">
                        <div class="form-group col-md-2">
                            路由规则选择：
                        </div>
                        <div class="form-group col-md-9">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                    主叫路由
                                </label>
                                </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                    被叫路由
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-1">
                            <a href="javascript:alert('info')" >
                                <span class="badge badge-empty bg-info align">？</span>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="text-center">工作日</th>
                        <th class="text-center">主叫路由</th>
                        <th class="text-center">时间段</th>
                        <th class="text-center">跳转IVR流程</th>
                        <th class="text-center">创建日期</th>
                        <th class="text-center">处理</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" ng-repeat="inbound in inbounds">
                        <td></td>
                        <td>
                           <div class="btn-group-sm" uib-dropdown>
                               <button class="btn" uib-dropdown-toggle>操作<span class="caret"></span></button>
                               <ul uib-dropdown-menu>
                                   <li><a href="" ng-click="edit(inbound)">修改</a></li>
                                   <li><a href="" confirm="remove(inbound)">删除</a></li>
                               </ul>
                           </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/ng-template" id="inbound_add.html">
<div class="wrapper-md">
    <form name="form" class="form-validation" novalidate>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-disabled="form.$invalid" ng-click="save()"><i class="fa fa-save"></i>&nbsp;保存</button>
            <button class="btn btn-default" ng-click="cancel()"><i class="fa fa-times"></i>&nbsp;关闭</button>
        </div>
    </form>
</div>
</script>

<script type="text/ng-template" id="inbound_edit.html">
<div class="wrapper-md">
    <form name="form" class="form-validation" novalidate>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-disabled="form.$invalid" ng-click="save()"><i class="fa fa-save"></i>&nbsp;保存</button>
            <button class="btn btn-default" ng-click="cancel()"><i class="fa fa-times"></i>&nbsp;关闭</button>
        </div>
    </form>
</div>
</script>