<div class='bg-light lter b-b wrapper-md'>
    <h1 class='m-n font-thin h3'>数据源</h1>
</div>
<div class='wrapper-md' ng-controller='MetadataCtrl'>

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class='form-inline form-validation' name="condForm">
                        <div class='form-group'>
                            <div>
                                <select class="form-control" ng-model="cond.selectedKey" required ng-options="data.key as data.name for data in categories">
                                    <option>请选择分类</option>
                                </select>
                            </div>
                        </div>
                        <div class='form-group'>
                            <button type="button" class="btn btn-default" ng-click="search(page.page)"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class='form-inline form-validation'>
                        <div class='form-group'>
                            <button type="button" class="btn btn-primary" ng-disabled="condForm.$invalid" ng-click="add()">新增</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="text-center">分类</th>
                        <th th class="text-center">描述</th>
                        <th th class="text-center">值</th>
                        <th th class="text-center">状态</th>
                        <th th class="text-center">创建于</th>
                        <th th class="text-center">修改于</th>
                        <th th class="text-center"></th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr ng-repeat="meta in metadatas track by $index">
                        <td>{{meta.key}}</td>
                        <td>{{meta.context}}</td>
                        <td>{{meta.value}}</td>
                        <td><span class="label label-{{meta.status|statusClass}}">{{meta.status|status}}</span></td>
                        <td>{{meta.create_at}}</td>
                        <td>{{meta.update_at}}</td>
                        <td>
                            <div class="btn-group-sm pull-right" uib-dropdown>
                                <button class="btn btn-default" uib-dropdown-toggle>操作<span class="caret"></span></button>
                                <ul uib-dropdown-menu>
                                    <li><a href="" ng-click="edit(meta)">修改</a></li>
                                    <li><a href="" message="是否删除" confirm="remove(meta)">删除</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class='col-sm-4 hidden-xs'>
                </div>
                <div class='col-sm-4 text-center'>
                    <small class='text-muted inline m-t-sm m-b-sm'>总共{{page.count}}条,当前{{page.page}}/{{page.total}}页</small>
                </div>
                <div class='col-sm-4 text-right text-center-xs'>
                    <ul class='pagination pagination-sm m-t-none m-b-none'>
                        <li><a href='' ng-click='search(1)'><i class='fa fa-angle-double-left'></i></a></li>
                        <li><a href='' ng-click='search(page.page - 1)'><i class='fa fa-angle-left'></i></a></li>
                        <li><a href='' ng-click='search(page.page + 1)'><i class='fa fa-angle-right'></i></a></li>
                        <li><a href='' ng-click='search(page.total)'><i class='fa fa-angle-double-right'></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="metadata_add.html">
    <div class="wrapper-md">
        <form name="form" class="form-validation" novalidate>
            <div class="modal-body">
            <div class='form-group'>
                <label class="text-right">标记</label>
                <div>
                    <div><p class="form-control-static">{{metadata.key}}</p></div>
                </div>
            </div>
            <div class="form-group">
                <label class="text-right">描述</label>
                <div>
                    <input required class="form-control" placeholder="" ng-model="metadata.context">
                </div>
            </div>
            <div class="form-group">
                <label class="text-right">值</label>
                <div>
                    <input required class="form-control" placeholder="" ng-model="metadata.value">
                </div>
            </div>
            <div class="form-group">
                <label class="text-right">状态</label>
                <div>
                    <label class="i-switch bg-info m-t-xs m-r">
                        <input type="checkbox" ng-model="metadata.status" ng-true-value="1" ng-false-value="0" checked>
                        <i></i>
                    </label>
                </div>
            </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-disabled="form.$invalid"  ng-click="save()">保存</button>
                <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
            </div>
        </form>
    </div>
</script>

<script type="text/ng-template" id="metadata_edit.html">
<div class="wrapper-md">
    <form name="form" class="form-validation" novalidate>
        <div class="modal-body">
            <div class='form-group'>
                <label class="text-right">标记</label>
                <div>
                    <div>
                        <p class="form-control-static">{{metadata.key}}</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="text-right">描述</label>
                <div>
                    <input required class="form-control" placeholder="" ng-model="metadata.context">
                </div>
            </div>
            <div class="form-group">
                <label class="text-right">值</label>
                <div>
                    <input required class="form-control" placeholder="" ng-model="metadata.value">
                </div>
            </div>
            <div class="form-group">
                <label class="text-right">状态</label>
                <div>
                    <label class="i-switch bg-info m-t-xs m-r">
                        <input type="checkbox" ng-model="metadata.status" ng-true-value="1" ng-false-value="0" checked><i></i>
                    </label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" ng-disabled="form.$invalid" ng-click="save()">保存</button>
            <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
        </div>
    </form>
</div>
</script>