<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">租户管理</h1>
</div>
<div class="wrapper-md" ng-controller="TenantCtrl">
    <div class="col-sm-12" align='right'>
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-inline form-validation">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" placeholder="租户Id、租户名称、接入号码" ng-model="info">
                            
                        </div>
                        
                        <div class="input-group">
                            开户时间：
                        </div>
                        <div class="input-group">
                            <input class="form-control" placeholder="开始时间" mydatepicker ng-model="info.start_time">
                        </div>
                        <div class="input-group">
                            <input class="form-control" placeholder="结束时间" mydatepicker ng-model="info.stop_time">
                        </div>
                        <div class="input-group">
                            租户状态：
                        </div>
                         <div class="input-group">
                            <select ng-model="info.status" class="form-control">
                                <option value="">全部</option>
                            </select>
                        </div>
                        <div class="input-group">
                            系统版本：
                        </div>
                         <div class="input-group">
                            <select ng-model="info.status" class="form-control">
                                <option value="">全部</option>
                            </select>
                        </div>
                        <div class="input-group">
                            所属省份：
                        </div>
                         <div class="input-group">
                            <select ng-model="info.status" class="form-control">
                                <option value="">全部</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <button type="button" class="btn btn-default" ng-click="search(page.page)">查询</button>
                            <button class="btn btn-addon btn-info" ng-click="add()">新增</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>租户名称</th>
                            <th>租户Id</th>
                            <th>创建时间（授权数）</th>
                            <th>系统版本</th>
                            <th>接入号码</th>
                            <th>所属省份</th>
                            <th>处理</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="tenant in tenants track by $index">
                            <td>{{$index+1}}</td>
                            <td>{{tenant.name}}</td>
                            <td>{{tenant.tenant_id}}</td>
                            <td>{{tenant.create_at}}({{tenant.authorize}})</td>
                            <td>{{tenant.version}}</td>
                            <td>{{tenant.number}}</td>
                            <td>{{tenant.province}}</td>
                            <td>
                                <div class="btn-group-sm pull-right" uib-dropdown>
                                    <button class="btn btn-default" ng-click="edit(tenant)">编辑</button>
                                    <button class="btn btn-danger" confirm="remove(tenant)">停用</button>
                                    <button class="btn btn-success" ng-click="copy(tenant)">重置</button>
                                    <button class="btn btn-success" ng-click="copy(tenant)">注销</button>
                                    <button class="btn btn-success" ng-click="copy(tenant)">坐席状态</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer clearfix">
                <div class='col-sm-4 hidden-xs'>
                </div>
                <div class='col-sm-4 text-center'>
                    <small class='text-muted inline m-t-sm m-b-sm'>总共{{page.count}}条,当前{{page.page}}/{{page.total}}页</small>
                </div>
                <div class='col-sm-4 text-right text-center-xs'>
                    <ul class='pagination pagination-sm m-t-none m-b-none'>
                        <li><a href='' ng-click='search(1)'><i class='fa fa-angle-double-left'></i></a></li>
                        <li><a href='' ng-click='search(page.page - 1)'><i class='fa fa-angle-left'></i></a></li>
                        <li><a href='' ng-click='search(page.page + 1)'><i class='fa fa-angle-right'></i></a></li>
                        <li><a href='' ng-click='search(page.total)'><i class='fa fa-angle-double-right'></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>