<div>
    <div class="wrapper-md">
        <form name="form" class="form-validation" novalidate>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span><b>添加租户</b></span>
                </div>
                <div class="panel-body">
                    <div class="form-group col-xs-2">
                        租户ID：
                    </div>
                    <div class="form-group col-xs-2">
                        <input required class="form-control" placeholder="请输入10个字符" ng-model="tenant.alias">
                    </div>

                    <div class="form-group col-xs-2">
                        租户名称：
                    </div>
                    <div class="form-group col-xs-2">
                        <input required class="form-control" type="text" ng-model="tenant.name">
                    </div>

                    <div class="form-group col-xs-2">
                        接入号码：
                    </div>
                    <div class="form-group col-xs-2">
                        <input required class="form-control" placeholder="请输入10个字符" ng-model="tenant.number">
                    </div>
                
                    <div class="form-group col-xs-2">
                        客户名称：
                    </div>
                    <div class="form-group col-xs-2">
                        <input required class="form-control"  ng-model="tenant.user_name">
                    </div>

                    <div class="form-group col-xs-2">
                        联系方式
                    </div>
                    <div class="form-group col-xs-2">
                        <input required class="form-control" placeholder="请输入数字" ng-pattern="/\d+/" ng-model="tenant.tel">
                    </div>

                    <div class="form-group col-xs-2">
                        Email：
                    </div>
                    <div class="form-group col-xs-2">
                        <input required class="form-control"  ng-model="tenant.email">
                    </div>

                    <div class="form-group col-xs-2">
                        行业
                    </div>
                    <div class="form-group col-xs-2">
                        <input required class="form-control"  ng-model="tenant.profession">
                    </div>
                    
                    <div class="form-group col-xs-2">
                        归属省：
                    </div>
                    <div class="form-group col-xs-6">
                        <div area-street="service.province"></div>
                    </div>
                </div>
                
                <div class="panel-footer text-right">
                    <button class="btn btn-info btn-md" ng-click="save()" >保存</button>
                    <button class="btn btn-default btn-md" ng-click="cancel()" >返回</button>
                </div>
            </div>
        </form>
    </div>
</div>