<div>
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h4" ><b>添加坐席</b> </h1>
    </div>
    <div class="wrapper-md">
        <form name="form" class="form-validation" novalidate>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span><b>基本设置</b></span>
                </div>
                <div class="panel-body">
                    
                        <div class="form-group col-xs-2">
                            用户名：
                        </div>
                        <div class="form-group col-xs-4">
                            <input required class="form-control" placeholder="请输入10个字符" ng-model="agent.user_name">
                        </div>
                    
                    
                        <div class="form-group col-xs-2">
                            密码：
                        </div>
                        <div class="form-group col-xs-4">
                            <input required class="form-control" type="password" ng-model="agent.password">
                        </div>
                    
                    
                        <div class="form-group col-xs-2">
                            坐席姓名：
                        </div>
                        <div class="form-group col-xs-4">
                            <input required class="form-control" placeholder="请输入10个字符" ng-model="agent.name">
                        </div>
                    
                    
                        <div class="form-group col-xs-2">
                            坐席工号：
                        </div>
                        <div class="form-group col-xs-4">
                            <input required class="form-control" placeholder="请输入数字" ng-pattern="/\d+/" ng-model="agent.user_name">
                        </div>
                    
                    
                        <div class="form-group col-xs-2">
                            联系电话：
                        </div>
                        <div class="form-group col-xs-4">
                            <input required class="form-control" placeholder="请输入数字" ng-pattern="/\d+/" ng-model="agent.tel">
                        </div>

                        <div class="form-group col-xs-2">
                            邮箱地址：
                        </div>
                        <div class="form-group col-xs-4">
                            <input required class="form-control" placeholder="请输入邮箱地址" ng-model="agent.email">
                        </div>

                        <div class="form-group col-xs-2">
                            性别：
                        </div>
                        <div class="form-group col-xs-4">
                            <select required  ng-model="agent.sex" class="form-control">
                                <option value="">请选择</option>
                                <option value="1">男</option>
                                <option value="2">女</option>
                            </select>
                        </div>
                    
                        <div class="form-group col-xs-2">
                            状态：
                        </div>
                        <div class="form-group col-xs-4">
                            <label class="i-switch bg-info m-t-xs m-r">
                                <input type="checkbox" ng-model="agent.status" ng-true-value="1" ng-false-value="0" checked><i></i>
                            </label>
                        </div>
                </div>
                <div class="panel-heading">
                    <span><b>角色设置</b></span>
                </div>
                <div class="panel-body">
                        <div class="form-group col-xs-2">
                            坐席权限：
                        </div>
                        <div class="form-group col-xs-4">
                            <select multiple placeholder="请选择" selectize="{labelField:'name',valueField:'id',searchField:'name'}" 
                            ng-options="item.id as item.name for item in permissions" ng-model="agent.level"></select>
                        </div>
                </div>
                
                <div class="panel-footer text-right">
                    <button class="btn btn-info btn-md" ng-click="save()" >保存</button>
                    <button class="btn btn-default btn-md" ng-click="cancel()" >返回</button>
                </div>
            </div>
        </form>
    </div>
</div>