<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">坐席设置</h1>
</div>
<div class="wrapper-md" ng-controller="UserCtrl">
    <div class="col-sm-12" align='right'>
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-inline form-validation">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" placeholder="坐席工号、坐席姓名" ng-model="info">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="search(page.page)"><i class="fa fa-search"></i></button>
                            </span>
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <button class="btn btn-addon btn-info" ng-click="add()">新增</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>工号</th>
                            <th>真实姓名</th>
                            <th>性别</th>
                            <th>联系电话</th>
                            <th>电子邮箱</th>
                            <th>状态</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="agent in users track by $index">
                            <td >{{$index+1}}</td>
                            <td >{{agent.user_name}}</td>
                            <td >{{agent.name}}</td>
                            <td ng-if="agent.sex =='1'">男</td>
                            <td ng-if="agent.sex =='2'">女</td>
                            <td ng-if="agent.sex ==undefined">未注明</td>
                            <td >{{agent.tel}}</td>
                            <td >{{agent.email}}</td>
                            <td ng-if="agent.status ==1">使用中</td>
                            <td ng-if="agent.status ==0">停用中</td>
                            <td >
                                <div class="btn-group-sm pull-right" uib-dropdown>
                                    <button class="btn btn-default" ng-click="edit(agent)">修改</button>
                                    <button class="btn btn-danger" confirm="remove(agent)">删除</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer clearfix">
                <div class='col-sm-4 hidden-xs'>
                </div>
                <div class='col-sm-4 text-center'>
                    <small class='text-muted inline m-t-sm m-b-sm'>总共{{page.count}}条,当前{{page.page}}/{{page.total}}页</small>
                </div>
                <div class='col-sm-4 text-right text-center-xs'>
                    <ul class='pagination pagination-sm m-t-none m-b-none'>
                        <li><a href='' ng-click='search(1)'><i class='fa fa-angle-double-left'></i></a></li>
                        <li><a href='' ng-click='search(page.page - 1)'><i class='fa fa-angle-left'></i></a></li>
                        <li><a href='' ng-click='search(page.page + 1)'><i class='fa fa-angle-right'></i></a></li>
                        <li><a href='' ng-click='search(page.total)'><i class='fa fa-angle-double-right'></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>