<div ng-controller="ServiceMxbAddCtrl">
    <div class="bg-light lter b-b wrapper-sm">
        <span><font style="font-size: 16px;font-weight:bold;">新建保单</font><small>&nbsp;&nbsp;&nbsp;&nbsp;隶属:&nbsp;<span class="label label-success" terminal="{{service_mxb.terminal}}"></span></small></span>
    </div>
    <div class="wrapper-sm">
        <div class="panel panel-default">
            <div class="panel-heading">
                客户信息&nbsp;
                <button class="btn btn-sm btn-default" ng-click="searchCustomer()">查询补全</button>
                <span class="pull-right">带<i class="fa fa-asterisk text-warning"></i>必填</span>
            </div>
            <div class="panel-body">
                <form name="customerForm" class="form-validation">
                    <div class="form-group col-xs-3">
                        <label class="control-label">手机<i class="fa fa-asterisk text-warning"></i></label>
                        <input required type="text" pattern="(((13|15|18|14|17)\d{9})|(((0\d{2,3}))(\d{7,8})))" class="form-control input-sm" ng-model="customer.mobile">
                    </div>
                </form>
            </div>
            <div class="panel-heading">
                商品信息&nbsp;
                <button class="btn btn-sm btn-default" ng-click="searchProduct()">查询补全</button>
                <span class="pull-right">带<i class="fa fa-asterisk text-warning"></i>必填</span>
            </div>
            <div class="panel-body">
                <form name="productForm" class="form-validation">
                    <div class="form-group col-xs-3">
                        <label class="control-label">类别<i class="fa fa-asterisk text-warning"></i></label>
                        <select required class="form-control input-sm" ng-model="product.category" style="width: 100%">
                            <option value="">请选择</option>
                            <option ng-repeat="metadata in categoryList" value="{{metadata.key}}">
                                {{metadata.value}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">品牌<i class="fa fa-asterisk text-warning"></i></label>
                        <select required class="form-control input-sm" ng-model="product.brand" style="width:100%">
                            <option value="">请选择</option>
                            <option ng-repeat="metadata in brandList|filter:{ref_key:product.category}" value="{{metadata.key}}">
                                {{metadata.value}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">商户订单号</label>
                        <input type="number" class="form-control input-sm" ng-model="service_mxb.out_trade_no">
                        <!--<input required type="number" class="form-control input-sm" ng-model="service_mxb.out_trade_no">-->
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">机身码<i class="fa fa-asterisk text-warning"></i></label>
                        <input required class="form-control input-sm" ng-model="service_mxb.product_sn">
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">商品价格<i class="fa fa-asterisk text-warning"></i></label>
                        <input required type="number" class="form-control input-sm" ng-model="service_mxb.product_price">
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">支付状态<i class="fa fa-asterisk text-warning"></i></label>
                        <select class="form-control input-sm" ng-model="service_mxb.state">
                            <option value="">请选择</option>
                            <option value="Y">已支付</option>
                            <option value="N">未支付</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="panel-heading">
                保单信息&nbsp;
                <span class="pull-right">带<i class="fa fa-asterisk text-warning"></i>必填</span>
            </div>
            <div class="panel-body">
                <form name="service_mxbForm" class="form-validation">
                    <div class="form-group col-xs-3">
                        <label class="control-label">延保类型<i class="fa fa-asterisk text-warning"></i></label>
                        <select required class="form-control input-sm" ng-model="service_mxb.type"
                                ng-options="metadata.key as metadata.value for metadata in metadatas|filter:{context:'service_mxb.type'}">
                            <option value="">请选择</option>
                        </select>
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">延保年限<i class="fa fa-asterisk text-warning"></i></label>
                        <select required class="form-control input-sm" ng-model="service_mxb.life"
                                ng-options="metadata.key as metadata.value for metadata in metadatas|filter:{context:'service_mxb.life',ref_key:service_mxb.type}">
                            <option value="">请选择</option>
                        </select>
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">延保价格<i class="fa fa-asterisk text-warning"></i></label>
                        <input required type="number" class="form-control input-sm" ng-model="service_mxb.price">
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">整机厂保年限<i class="fa fa-asterisk text-warning"></i></label>
                        <select required class="form-control input-sm"  ng-model="service_mxb.machine_life">
                            <option value=""></option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">关键部位厂保年限<i class="fa fa-asterisk text-warning"></i></label>
                        <select required class="form-control input-sm"  ng-model="service_mxb.key_part_life">
                            <option value=""></option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">保单销售日<i class="fa fa-asterisk text-warning"></i></label>
                        <input required class="form-control input-sm" ng-model="service_mxb.create_at" mydatepicker>
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">购买日(发票日期)<i class="fa fa-asterisk text-warning"></i></label>
                        <input required class="form-control input-sm" ng-model="service_mxb.ori_begin_at" mydatepicker>
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">原保生效日<i class="fa fa-asterisk text-warning"></i></label>
                        <input class="form-control input-sm" ng-model="service_mxb.ori_begin_at" mydatepicker>
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">整机原保结束日<i class="fa fa-asterisk text-warning"></i></label>
                        <input class="form-control input-sm" ng-model="service_mxb.ori_machine_end_at" mydatepicker>
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">关键部位原保结束日<i class="fa fa-asterisk text-warning"></i></label>
                        <input class="form-control input-sm" ng-model="service_mxb.ori_keypart_end_at" mydatepicker>
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">整机延保生效日<i class="fa fa-asterisk text-warning"></i></label>
                        <input class="form-control input-sm" ng-model="service_mxb.machine_begin_at" mydatepicker>
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">整机延保结束日<i class="fa fa-asterisk text-warning"></i></label>
                        <input class="form-control input-sm" ng-model="service_mxb.machine_end_at" mydatepicker>
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">关键部位延保生效日<i class="fa fa-asterisk text-warning"></i></label>
                        <input class="form-control input-sm" ng-model="service_mxb.keypart_begin_at" mydatepicker>
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">关键部位延保结束日<i class="fa fa-asterisk text-warning"></i></label>
                        <input class="form-control input-sm" ng-model="service_mxb.keypart_end_at" mydatepicker>
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">所属网店<i class="fa fa-asterisk text-warning"></i></label>
                        <div ui-module="select2">
                            <select required ui-select2 p ng-model="service_mxb.terminal" class="form-control input-sm w-sm" style="width:244.25px">
                                <option value="">所有网点</option>
                                <option ng-repeat="terminal in terminals" value="{{terminal._id}}">
                                    {{terminal.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">销售人员<i class="fa fa-asterisk text-warning"></i></label>
                        <div ui-module="select2">
                            <select required ui-select2 p ng-model="service_mxb.sale_name" class="form-control input-sm w-sm" style="width:244.25px">
                                <option value="">所有销售员</option>
                                <option ng-repeat="sale_tel in users" value="{{sale_tel.name}}">
                                    {{sale_tel.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">销售员手机<i class="fa fa-asterisk text-warning"></i></label>
                        <input required class="form-control input-sm" ng-model="service_mxb.sale_tel">
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">补充说明</label>
                        <textarea rows="2" class="form-control input-sm" ng-model="service_mxb.comment"></textarea>
                    </div>
                    <div class="form-group col-xs-12">
                        <label class="control-label">发票图片</label>
                    </div>

                    <div class="form-group col-xs-6">
                        <div image ng-model="service_axb.pic_filename"></div>
                    </div>
                    <div class="form-group col-xs-6">
                        <img ng-src="{{service_axb.pic_filename}}">
                    </div>
                </form>
            </div>
            <div class="panel-footer text-center">
                <button class="btn btn-sm btn-success" ng-click="add()">保存</button>
                <button class="btn btn-sm btn-info" onclick="javaScript:history.go(-1)">返回</button>
            </div>
        </div>
    </div>
</div>