<div ng-controller="ServiceAxbAddCtrl">
    <div class="bg-light lter b-b wrapper-sm">
        <span><font style="font-size: 16px;font-weight:bold;">新建销售单</font></span>
    </div>
    <div class="wrapper-sm">
        <div class="panel panel-default">
            <div class="panel-heading">
                客户信息&nbsp;
                <span class="pull-right">带<i class="fa fa-asterisk text-warning"></i>必填</span>
            </div>
            <div class="panel-body">
                <form name="customerForm" class="form-validation">
                    <div class="form-group col-xs-3">
                        <label class="control-label">手机<i class="fa fa-asterisk text-warning"></i></label>
                        <input required type="text" ng-pattern="/\d{11}/" class="form-control input-sm" ng-model="service_axb.customer.mobile">
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">产品类型<i class="fa fa-asterisk text-warning"></i></label>
                        <select required class="form-control input-sm" ng-model="service_axb.product_type"
                                ng-options="metadata.value as metadata.context for metadata in metadatas|filter:{key:'product:type'}">
                            <option value="">请选择</option>
                        </select>
                    </div>
                    <div class="form-group col-xs-6">
                        <label class="text-right">省市区街道</label>
                        <div area-street="service_axb.customer.street"></div>
                    </div>
                    <div class="form-group col-xs-6">
                        <label class="control-label">地址<i class="fa fa-asterisk text-warning"></i></label>
                        <input required type="text" class="form-control input-sm" ng-model="service_axb.customer.address">
                    </div>
                </form>
            </div>
            <div class="panel-heading">
                商品信息&nbsp;
                <span class="pull-right">带<i class="fa fa-asterisk text-warning"></i>必填</span>
            </div>
            <div class="panel-body">
                <form name="productForm" class="form-validation">
                    <div class="form-group col-xs-3">
                        <label class="control-label">型号</label>
                        <input class="form-control input-sm" ng-model="service_axb.product.model">
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">品牌</label>
                        <input class="form-control input-sm" ng-model="service_axb.product.brand">
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">类别<i class="fa fa-asterisk text-warning"></i></label>
                        <select required class="form-control input-sm" ng-model="service_axb.product.category" ng-change="pricechange()">
                            <option value="">请选择</option>
                            <option ng-repeat="metadata in metadatas|filter:{key:'product:category',source:service_axb.product.product_type}" value="{{metadata.value}}">
                                {{metadata.context}}
                            </option>
                        </select>
                    </div>

                    <div class="form-group col-xs-3" ng-if="service_axb.product_type!='C'">
                        <label class="control-label">分段类目<i class="fa fa-asterisk text-warning"></i></label>
                        <select class="form-control input-sm" ng-model="service_axb.product.sub_category" style="width: 100%">
                            <option value="">请选择</option>
                            <option ng-repeat="metadata in metadatas|filter:{key:'product:sub_category',ref_key:'product:category',source:service_axb.product.category}" value="{{metadata.value}}">
                                {{metadata.context}}
                            </option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="panel-heading">
                保单信息&nbsp;
                <span class="pull-right">带<i class="fa fa-asterisk text-warning"></i>必填</span>
            </div>
            <div class="panel-body">
                <form name="service_axbForm" class="form-validation">
                    <div class="form-group col-xs-3">
                        <label class="control-label">注册码<i class="fa fa-asterisk text-warning"></i></label>
                        <input required class="form-control input-sm" ng-model="service_axb.sn">
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">购买渠道<i class="fa fa-asterisk text-warning"></i></label>
                        <select required class="form-control input-sm" ng-model="service_axb.type"
                                ng-options="metadata.value as metadata.context for metadata in metadatas|filter:{key:'service_axb:type'}">
                            <option value="">请选择</option>
                        </select>
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">商品价格<i class="fa fa-asterisk text-warning"></i></label>
                        <input required type="number" class="form-control input-sm" ng-model="service_axb.product_price">
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">延保价格<i class="fa fa-asterisk text-warning"></i></label>
                        <input required type="number" class="form-control input-sm" ng-model="service_axb.price">
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">年限<i class="fa fa-asterisk text-warning"></i></label>
                        <select required class="form-control input-sm" ng-model="service_axb.life" ng-change="pricechange()"
                                ng-options="metadata.value as metadata.context for metadata in metadatas|filter:{key:'service_axb:life'}">
                            <option value="">请选择</option>
                        </select>
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">服务单号</label>
                        <input class="form-control input-sm" ng-model="service_axb.service_id">
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">购买日(发票日期)<i class="fa fa-asterisk text-warning"></i></label>
                        <input required class="form-control input-sm" ng-model="service_axb.ori_begin_at" mydatepicker>
                    </div>
                    <div class="form-group col-xs-3" ng-if="service_axb.product_type=='C'">
                        <label class="control-label">最高理赔费用</label>
                        <input class="form-control input-sm" ng-model="service_axb.claim_amount">
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">补充说明</label>
                        <textarea rows="2" class="form-control input-sm" ng-model="service_axb.comment"></textarea>
                    </div>
                    <div class="form-group col-xs-12">
                        <label class="control-label">发票图片</label>
                    </div>

                    <div class="form-group col-xs-6">
                        <div image ng-model="service_axb.pic_filename"></div>
                    </div>
                    <div class="form-group col-xs-6">
                        <img ng-src="{{service_axb.pic_filename}}">
                    </div>
                </form>
            </div>
            <div class="panel-footer text-center">
                <button class="btn btn-sm btn-success" ng-click="add()">保存</button>
                <button class="btn btn-sm btn-info" onclick="javaScript:history.go(-1)">返回</button>
            </div>
        </div>
    </div>
</div>