<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">工单模板配置</h1>
</div>
<div class="wrapper-md" ng-controller="ServiceTemplateCtrl">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">进度配置</div>
                <div class="panel-body">
                    <form name="progressForm" class="form-inline form-validation">
                        <select class="form-control" required ng-model="selectedProgressId" ng-options="item.id as item.name for item in progresses">
                            <option>请选择</option>
                        </select>

                        <button class="btn btn-default" ng-click="addProgress()">添加</button>
                        <button class="btn btn-default" ng-disabled="progressForm.$invalid" ng-click="editProgress()">编辑</button>
                        <button class="btn btn-default" ng-disabled="progressForm.$invalid" confirm="removeProgress()">删除</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">工单分类配置</div>
                <div class="panel-body">
                    <form name="categoryForm" class="form-inline form-validation">
                        <select class="form-control" required ng-model="selectedCategoryId" ng-options="item.id as item.name for item in categories">
                            <option>请选择</option>
                        </select>
                        <button class="btn btn-default" ng-click="addCategory()">添加</button>
                        <button class="btn btn-default" ng-disabled="categoryForm.$invalid" ng-click="editCategory()">编辑</button>
                        <button class="btn btn-default" ng-disabled="categoryForm.$invalid" confirm="removeCategory()">删除</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default" ng-repeat="progress in progresses">
                <div class="panel-heading">进度<span class="label label-primary">{{progress.name}}</span>表单配置&nbsp;&nbsp;
                    <span class="label label-success" ng-repeat="category in progress.categories">{{category.category_name}}</span>
                </div>
                <div class="panel-body">
                    <form class="form-inline form-validation" novalidate>
                        <div class="form-group">
                            <input class="form-control" placeholder="字段名称" required ng-model="progress.field.name">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="字段序号" ng-pattern="/\d{1,2}/" ng-model="progress.field.seq">
                        </div>
                        <div class="form-group">
                            <select class="form-control" ng-model="progress.field.field_type" ng-options="meta.value as meta.context for meta in fieldTypes">
                                <option>-- 请选择 --</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default" ng-click="addField(progress)">添加</button>
                        </div>
                    </form>
                </div>

                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">名称</th>
                            <th class="text-center">序号</th>
                            <th class="text-center">类型</th>
                            <th class="text-center col-md-4">字典</th>
                            <th class="text-center">操作</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr ng-repeat="field in progress.fields">
                            <td>
                                <input class="form-control" placeholder="" required ng-model="field.name">
                            </td>
                            <td>
                                <input class="form-control" placeholder="" ng-pattern="/\d{1,2}/" ng-model="field.seq">
                            </td>
                            <td>
                                <select ng-change="fieldTypeChange(field)" class="form-control" ng-model="field.field_type" ng-options="meta.value as meta.context for meta in fieldTypes">
                                    <option>-- 请选择 --</option>
                                </select>
                            </td>
                            <td>
                                <div ng-show="field.field_type=='select' || field.field_type=='tags'">
                                    <div class="input-group">
                                        <select class="form-control" ng-model="field.selectedSelect" ng-options="item.value as item.context for item in field.metadata">
                                            <option>-- 请选择 --</option>
                                        </select>
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" ng-click="changeMetadata('field:'+field.id, field.metadata)">维护</button>
                                        </div>
                                    </div>
                                </div>
                                <div ng-show="field.field_type=='linkage'">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <select class="form-control" ng-model="field.selectedLinkage1" ng-options="item.value as item.context for item in field.metadata1"
                                                    ng-change="linkageChange(field, 'field:'+field.id+':'+field.selectedLinkage1)">
                                                        <option>-- 请选择 --</option>
                                                    </select>
                                                <div class="input-group-btn">
                                                    <button class="btn btn-default" ng-click="changeMetadata('field:'+field.id, field.metadata1)">维护</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <select class="form-control" ng-model="field.selectedLinkage2" ng-options="item.value as item.context for item in field.metadata2">
                                                        <option>-- 请选择 --</option>
                                                    </select>
                                                <div class="input-group-btn">
                                                    <button class="btn btn-default" ng-disabled="!field.selectedLinkage1" ng-click="changeMetadata('field:'+field.id+':'+field.selectedLinkage1, field.metadata2)">维护</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <button class="btn btn-default" ng-click="saveField(progress, field)">保存</button>
                                <button class="btn btn-default" confirm="removeField(progress, field)">删除</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="service_progress_add.html">
<div class="wrapper-md">
    <form name="form" class="form-validation" novalidate>
        <div class="modal-body">
            <div class="form-group">
               <label class="text-right">名称</label>
               <div><input required class="form-control" placeholder="" ng-model="progress.name"></div>
            </div>
            <div class="form-group">
               <label class="text-right">顺序(1-99)</label>
               <div><input ng-pattern="/^[1-9]\d{0,1}$/" class="form-control" placeholder="" ng-model="progress.seq"></div>
            </div>
            <div class="form-group">
                <label class="text-right">状态</label>
                <div>
                    <label class="i-switch bg-info m-t-xs m-r">
                        <input type="checkbox" ng-model="progress.status" ng-true-value="1" ng-false-value="0" checked><i></i>
                    </label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-disabled="form.$invalid" ng-click="save()"><i class="fa fa-save"></i>&nbsp;保存</button>
            <button class="btn btn-default" ng-click="cancel()"><i class="fa fa-times"></i>&nbsp;关闭</button>
        </div>
    </form>
</div>
</script>

<script type="text/ng-template" id="service_progress_edit.html">
<form name="form" class="form-validation" novalidate>
    <div class="modal-body">
        <div class="form-group">
            <label class="text-right">名称</label>
            <div><input required class="form-control" placeholder="" ng-model="progress.name"></div>
        </div>
        <div class="form-group">
            <label class="text-right">顺序(1-99)</label>
            <div><input ng-pattern="/^[1-9]\d{0,1}$/" class="form-control" placeholder="" ng-model="progress.seq"></div>
        </div>
        <div class="form-group">
            <label class="text-right">状态</label>
            <div>
                <label class="i-switch bg-info m-t-xs m-r">
                        <input type="checkbox" ng-model="progress.status" ng-true-value="1" ng-false-value="0" checked><i></i>
                    </label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-disabled="form.$invalid" ng-click="save()"><i class="fa fa-save"></i>&nbsp;保存</button>
        <button class="btn btn-default" ng-click="cancel()"><i class="fa fa-times"></i>&nbsp;关闭</button>
    </div>
</form>
</script>

<script type="text/ng-template" id="service_category_add.html">
<form name="form" class="form-validation" novalidate>
    <div class="modal-body">
        <div class="form-group">
            <label class="text-right">名称</label>
            <div><input required class="form-control" placeholder="" ng-model="category.name"></div>
        </div>
        <div class="form-group">
            <label class="text-right">状态</label>
            <div>
                <label class="i-switch bg-info m-t-xs m-r">
                    <input type="checkbox" ng-model="category.status" ng-true-value="1" ng-false-value="0" checked><i></i>
                </label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-disabled="form.$invalid" ng-click="save()"><i class="fa fa-save"></i>&nbsp;保存</button>
        <button class="btn btn-default" ng-click="cancel()"><i class="fa fa-times"></i>&nbsp;关闭</button>
    </div>
</form>
</script>

<script type="text/ng-template" id="service_category_edit.html">
<form name="form" class="form-validation" novalidate>
    <div class="modal-body">
        <div class="form-group">
            <label class="text-right">名称</label>
            <div><input required class="form-control" placeholder="" ng-model="category.name"></div>
        </div>
        <div class="form-group">
           <label class="text-right">包含进度</label>
           <div>
               <select multiple placeholder="请选择" selectize="{labelField:'name',valueField:'id',searchField:'name'}"
                ng-options="item.id as item.name for item in progresses" ng-model="pids"></select>
           </div>
        </div>
        <div class="form-group">
            <label class="text-right">状态</label>
            <div>
                <label class="i-switch bg-info m-t-xs m-r">
                    <input type="checkbox" ng-model="category.status" ng-true-value="1" ng-false-value="0" checked><i></i>
                </label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-disabled="form.$invalid" ng-click="save()"><i class="fa fa-save"></i>&nbsp;保存</button>
        <button class="btn btn-default" ng-click="cancel()"><i class="fa fa-times"></i>&nbsp;关闭</button>
    </div>
</form>
</script>

<script type="text/ng-template" id="field_metadata.html">
<div class="wrapper-md">
    <div class="modal-body">
        <form name="form" class="form-inline form-validation" novalidate>
            <div class="form-group">
                <input required class="form-control" placeholder="下拉项名称" ng-model="meta.context">
            </div>
            <div class="form-group">
                <input required class="form-control" placeholder="下拉项值" ng-model="meta.value">
            </div>
            <div class="form-group">
                <button class="btn btn-success" ng-disabled="form.$invalid" ng-click="add()"><i class="fa fa-plus"></i>&nbsp;添加</button>
            </div>
        </form>            
    </div>
    
    <table class="table">
        <thead>
            <tr>
                <th class="text-center">下拉项名称</th>
                <th class="text-center">下拉项值</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr ng-repeat="meta in metas">
                <td><input class="form-control" ng-model="meta.context" required></td>
                <td><input class="form-control" ng-model="meta.value" required></td>
                <td>                        
                    <button class="btn btn-default" ng-click="save(meta)">保存</button>                        
                    <button class="btn btn-default" confirm="remove(meta)">删除</button>                        
                </td>
            </tr>
        </tbody>
    </table>
    
    <div class="modal-footer">            
        <button class="btn btn-default" ng-click="cancel()"><i class="fa fa-times"></i>&nbsp;关闭</button>
    </div>
</div>
</script>