<div class="" ng-controller="ServiceMxbCtrl">
    <!--<div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">延保单列表</h1>
        <em>当前共{{count}}条</em>
    </div>-->
    <div class="bg-light lter b-b wrapper-sm">
        <span><font style="font-size: 16px;font-weight:bold;">延保单列表</font><em style="font-size: 14px">&nbsp;&nbsp;&nbsp;&nbsp;当前共{{count}}条</em></span>
    </div>
    <div class="wrapper-sm">
        <div class="panel" style="overflow-x:auto">
            <div class="panel-body">
                <form class="form-inline">
                    <div class="form-group">
                        <div ui-module="select2">
                            <select ui-select2 p ng-model="cond.terminal" class="form-control input-sm w-sm" style="width:131px">
                                <option value="">所有网点</option>
                                <option ng-repeat="terminal in terminals" value="{{terminal._id}}">
                                    {{terminal.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div ui-module="select2">
                            <select ui-select2 p ng-model="cond.sale_tel" class="form-control input-sm w-sm" style="width:131px">
                                <option value="">所有销售员</option>
                                <option ng-repeat="sale_tel in users" value="{{sale_tel.tel}}">
                                    {{sale_tel.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <input ng-model="cond.sn" class="form-control input-sm" placeholder="通过注册码查询">
                    </div>
                    <div class="form-group">
                        <input ng-model="cond.tel" class="form-control input-sm" placeholder="通过客户电话查询">
                    </div>
                    <div class="form-group">
                        <select class="form-control input-sm" ng-model="cond.state">
                            <option value="">请选择支付状态</option>
                            <option value="Y">已支付</option>
                            <option value="N">未支付</option>
                        </select>
                    </div>
                    <div class="input-group w-sm ">
                        <input class="form-control input-sm" mydatepicker ng-model="cond.start_time"
                               placeholder="录入开始日期">
                        <span class="input-group-btn ">
                            <button type="button" class="btn btn-default btn-sm search-style" ng-click="cond.start_time=''"><i
                                    class="fa fa-dropbox"></i></button>
                        </span>
                    </div>
                    <div class="form-group">
                        <span class="small">至</span>
                    </div>
                    <div class="input-group w-sm ">
                        <input class="form-control input-sm" mydatepicker ng-model="cond.end_time"
                               placeholder="录入结束日期">
                        <span class="input-group-btn ">
                            <button type="button" class="btn btn-default btn-sm search-style" ng-click="cond.end_time=''"><i
                                    class="fa fa-dropbox"></i></button>
                        </span>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-sm btn-success" ng-click="search(1)">查询</button>
                        <button class="btn btn-sm btn-primary" ng-click="export()" >导出</button>
                        <button class="btn btn-sm btn-info" ng-click="add()" >添加</button>
                        <!--<button class="btn btn-sm btn-warning" ng-click="import()" ng-if="has(5)">延保卡导入</button>-->
                    </div>
                </form>
            </div>
            <table class="table m-b-none text-nowrap" ng-show="policies" style="text-align: center">
            <!--<table class="table m-b-none text-center" ng-show="policies">-->
                <thead>
                <tr>
                    <td class="small" class="small">网点</td>
                    <td class="small" class="small">客户(注册码)</td>
                   <!-- <td>商品</td>-->
                    <td class="small" class="small">注册日期</td>
                    <td class="small" class="small">销售员</td>
                    <td class="small" class="small">支付状态</td>
                    <td class="small" class="small">品类</td>
                    <td class="small" class="small">品牌</td>
                    <td class="small" class="small">商品价格</td>
                    <td class="small" class="small">延保价格</td>
                    <td class="small" class="small">延保年限</td>
                    <td class="small" class="small">整机原保日期</td>
                    <td class="small" class="small">整机延保日期</td>
                    <td class="small" class="small" ng-if="has(6)">操作</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="policy in policies">
                    <td class="small" class="small"><span terminal="{{policy.terminal}}"></span></td>
                    <td class="small" class="small">{{policy.tel}}({{policy.sn}})</td>
                    <td class="small" class="small">{{policy.create_at}}</td>
                    <td class="small" class="small">{{policy.sale_name}}({{policy.sale_tel}})</td>
                    <td class="small" class="small" ng-if="policy.state=='Y'">已支付</td>
                    <td class="small" class="small" ng-if="policy.state=='N'">未支付</td>
                    <td class="small" class="small"><span trans-context="product:category" trans-val="{{policy.category}}"></span></td>
                    <td class="small" class="small"><span trans-context="product:sub_category" trans-val="{{policy.sub_category}}"></td>
                    <td class="small" class="small">{{policy.product_price}}</td>
                    <td class="small" class="small">{{policy.price}}</td>
                    <td class="small" class="small">{{policy.life}}年</td>
                    <td class="small" class="small">{{policy.ori_begin_at}}~{{policy.ori_machine_end_at}}</td>
                    <td class="small" class="small">{{policy.machine_begin_at}}~{{policy.machine_end_at}}</td>
                    <td class="small" class="small" ng-if="has(6)">
                        <button class="btn btn-sm btn-default" ng-click="edit(policy)">编辑</button>
                        <button class="btn btn-sm btn-primary" confirm ng-confirm="del(policy.id)" ng-cancel="testCancel()">删除</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="13" align="center">
                        总共{{count}}条,当前{{page}}/{{total}}页
                        <a href="" ng-click="search(1)"> 首页</a>
                        <a href="" ng-click="search(page - 1)"> 上一页</a>
                        <a href="" ng-click="search(page + 1)"> 下一页</a>
                        <a href="" ng-click="search(total)"> 尾页</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>