<div>
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">保单预览 </h1>
        <small>隶属:&nbsp;<span class="label label-success" terminal="{{policy.terminal}}"></span></small>
    </div>
    <div class="wrapper-md">
        <div class="panel panel-default">
            <div class="panel-heading">
                客户信息&nbsp;
            </div>
            <div class="panel-body">
                <form name="customerForm" class="form-validation">
                    <div class="form-group col-xs-3">
                        <label class="control-label">手机</label>
                        <mark class="form-control-static">{{customer.mobile}}</mark>
                    </div>
                </form>
            </div>
            <div class="panel-heading">
                商品信息&nbsp;
            </div>
            <div class="panel-body">
                <form name="productForm" class="form-validation">
                    
                    <div class="form-group col-xs-3">
                        <label class="control-label">类别</label>
                        <mark class="form-control-static">{{metadatas|transMetadata:'product.category':product.category}}</mark>
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">品牌</label>
                        <mark class="form-control-static">{{metadatas|transMetadata:'product.brand':product.brand}}</mark>

                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">商户订单号</label>
                        <mark class="form-control-static">{{policy.out_trade_no}}</mark>
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">机身码</label>
                        <mark class="form-control-static">{{policy.product_sn}}</mark>
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">商品价格</label>
                        <mark class="form-control-static">{{policy.product_price}}</mark>
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">支付状态</label>
                        <mark ng-if="policy.state == 'Y'" class="form-control-static">已支付</mark>
                        <mark ng-if="policy.state == 'N'" class="form-control-static">未支付</mark>
                    </div>
                </form>
            </div>
            <div class="panel-heading">
                保单信息&nbsp;
            </div>
            <div class="panel-body">
                <form name="policyForm" class="form-validation">
                    <div class="form-group col-xs-3">
                        <label class="control-label">延保类型</label>
                        <mark class="form-control-static">{{metadatas|transMetadata:'policy.type':policy.type}}</mark>
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">延保年限</label>
                        <mark class="form-control-static">{{metadatas|transMetadata:'policy.life':policy.life}}</mark>
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">延保价格</label>
                        <mark class="form-control-static">{{policy.price}}</mark>
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">注册码</label>
                        <mark class="form-control-static">{{policy.sn}}</mark>
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">整机厂保年限</label>
                        <mark class="form-control-static">{{policy.machine_life}}年</mark>
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">关键部位厂保年限</label>
                        <mark class="form-control-static">{{policy.key_part_life}}年</mark>
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">保单销售日</label>
                        <mark class="form-control-static">{{policy.create_at}}</mark>
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">购买日(发票日期)</label>
                        <mark class="form-control-static">{{policy.ori_begin_at}}</mark>
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">原保生效日</label>
                        <mark class="form-control-static">{{policy.ori_begin_at}}</mark>
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">整机原保结束日</label>
                        <mark class="form-control-static">{{policy.ori_machine_end_at}}</mark>
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">关键部位原保结束日</label>
                        <mark class="form-control-static">{{policy.ori_keypart_end_at}}</mark>
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">整机延保生效日</label>
                        <mark class="form-control-static">{{policy.machine_begin_at}}</mark>
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">整机延保结束日</label>
                        <mark class="form-control-static">{{policy.machine_end_at}}</mark>
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">关键部位延保生效日</label>
                        <mark class="form-control-static">{{policy.keypart_begin_at}}</mark>
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">关键部位延保结束日</label>
                        <mark class="form-control-static">{{policy.keypart_end_at}}</mark>
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">销售人员</label>
                        <mark class="form-control-static">{{policy.sale_name}}</mark>
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">销售员手机</label>
                        <mark class="form-control-static">{{policy.sale_tel}}</mark>
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">补充说明</label>
                        <mark class="form-control-static">{{policy.comment}}</mark>
                    </div>
                </form>
            </div>
            <div class="panel-footer text-center">
                <button class="btn btn-success btn-sm" ng-click="ok()">确定</button>
                <button class="btn btn-default btn-sm" ng-click="cancel()">取消</button>
            </div>
        </div>
    </div>
</div>