<div class="" ng-controller="ServiceAxbCtrl">
    <div class="bg-light lter b-b wrapper-sm">
        <span><font style="font-size: 16px;font-weight:bold;">销售单列表</font><em style="font-size: 14px">&nbsp;&nbsp;&nbsp;&nbsp;当前共{{count}}条</em></span>
    </div>
    <div class="wrapper-sm">
        <div class="panel" >
            <div class="panel-body">
                
                <div class="form-group col-md-2">
                    <ui-select ng-model="cond.terminal" ng-required="true" >
                        <ui-select-match  placeholder="所属当前网店">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="terminal._id as terminal in terminals" refresh="searchTerminal($select.search)">
                            <div ng-bind-html="terminal.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group col-md-1">
                    <button type="button" class="btn btn-default btn-sm search-style" ng-click="cond.terminal=''"><i
                            class="fa fa-dropbox"></i></button>
                </div>
                <div class="form-group col-md-2">
                    <input ng-model="cond.sn" class="form-control input-sm search-style" placeholder="通过注册码查询">
                </div>
                <div class="form-group col-md-2">
                    <select class="form-control web-select-style " ng-model="cond.type">
                        <option value="">请选择购买渠道</option>
                        <option value="3">安心保（有服务单号）</option>
                        <option value="4">其他（无服务单号）</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <select class="form-control web-select-style " ng-model="cond.product_type">
                        <option value="">请选择产品类型</option>
                        <option value="A">大家电类</option>
                        <option value="B">3C/生活电器类</option>
                        <option value="C">大家电类超值版</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <input ng-model="cond.plain_code" class="form-control input-sm search-style" placeholder="通过卡明码查询">
                </div>
                <div class="form-group col-md-2">
                    <input ng-model="cond.service_id" class="form-control input-sm search-style" placeholder="通过服务单号查询">
                </div>
                <div class="form-group col-md-2">
                    <input ng-model="cond.tel" class="form-control input-sm search-style" placeholder="通过电话号码查询">
                </div>
                <form class="form-inline col-md-4">
                    <div class="input-group w-sm ">
                        <input class="form-control input-sm search-style" mydatepicker ng-model="cond.start_time"
                               placeholder="录入开始时间">
                        <span class="input-group-btn ">
                            <button type="button" class="btn btn-default btn-sm search-style" ng-click="cond.start_time=''"><i
                                    class="fa fa-dropbox"></i></button>
                        </span>
                    </div>
                    <div class="form-group">
                        <span class="small">至</span>
                    </div>
                    <div class="input-group w-sm ">
                        <input class="form-control input-sm search-style" mydatepicker ng-model="cond.end_time" placeholder="录入结束时间">
                        <span class="input-group-btn ">
                                <button type="button" class="btn btn-default btn-sm search-style" ng-click="cond.end_time=''"><i
                                        class="fa fa-dropbox"></i></button>
                            </span>
                    </div>
                </form>
                <div class="form-group col-md-4">
                    <button class="btn btn-sm btn-success search-style" ng-click="search(1)" ng-if="FlagSearch==false"><i class="fa fa-search"></i>查询</button>
                    <button class="btn btn-sm btn-warning search-style" ng-if="FlagSearch==true"><i class="fa fa-search"></i>查询中..</button>
                    <button class="btn btn-sm btn-primary search-style" ng-click="export()" ><i class="fa fa-plus"></i>导出</button>
                    <button class="btn btn-sm btn-danger search-style" ng-click="add()" ><i class="fa fa-plus"></i>添加</button>
                </div>
            </div>
            <table class="table m-b-none text-center table-hover" style="border-collapse:collapse;" ng-show="policies">
                <thead>
                <tr>
                    <td class="small" class="small">网点<br>上级</td>
                    <td class="small" class="small">网点</td>
                    <td class="small" class="small">注册<br>日期</td>
                    <td class="small" class="small">购买渠道</td>
                    <td class="small" class="small">服务单号</td>
                    <td class="small" class="small">类别</td>
                    <td class="small" class="small">分段<br>类别</td>
                    <td class="small" class="small">发票价格<br>(发票日期)</td>
                   <!-- <td class="small" class="small">发票<br>日期</td>-->
                    <td class="small" class="small">客户<br>电话</td>
                    <td class="small" class="small">注册码<br>(卡明码)</td>
                    <!--<td class="small" class="small">卡明码</td>-->
                    <td class="small" class="small">延保价格<br>(延保年限)</td>
                   <!-- <td class="small" class="small">延保<br>价格</td>-->
                    <td class="small" class="small">发票<br>图片</td>
                    <td  class="small" class="small" ng-if="has(8)">操作</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="policy in services">
                    <td class="small" class="small" ng-if="policy.terminal_parent != ''&& policy.terminal_parent != undefined">{{policy.terminal_parent|terminalTrans:allTerminals}}</td>
                    <td class="small" class="small" ng-if="policy.terminal_parent == ''|| policy.terminal_parent == undefined">{{policy.terminalparent.name}}</span></td>
                    <td class="small" class="small"><span terminal="{{policy.terminal}}" p-code="policy.terminalcode" p-parent="policy.terminalparent"></span></td>
                    <td class="small" class="small">{{policy.create_at}}</td>
                    <td class="small" class="small"><span trans-context="policy:type" trans-val="{{policy.type}}"></span></td>
                    <td class="small" class="small" ng-if="policy.service_id == ''|| policy.service_id == undefined">无</td>
                    <td class="small" class="small" ng-if="policy.service_id != ''&& policy.service_id != undefined">{{policy.service_id}}</td>
                    <td class="small" class="small"><span trans-context="product:category" trans-val="{{policy.category}}"></span><br>(<span trans-context="product:type" trans-val="{{policy.product_type}}"></span>)</td>
                    <td class="small" class="small" ng-if="policy.product_type!='C'"><span trans-context="product:sub_category" trans-val="{{policy.sub_category}}"></td>
                    <td class="small" class="small" ng-if="policy.product_type=='C'">无</td>
                    <td class="small" class="small">{{policy.product_price}}<br>({{policy.ori_begin_at}})</td>
                    <td class="small" class="small">{{policy.tel}}</td>
                    <td class="small" class="small" ng-if="policy.terminal == '5543530a22bdee033db615c4'">{{policy.sn}}<br>（无）</td>
                    <td class="small" class="small" ng-if="policy.terminal != '5543530a22bdee033db615c4'">{{policy.sn}}<br>（<span sn="{{policy.sn}}"></span>）</td>
                    <td class="small" class="small">{{policy.price}}<br>(<span trans-context="policy:life" trans-val="{{policy.life}}">)</td>
                    <td class="small" class="small" style="height:40px;" ng-if="policy.pic_filename !=''">
                        <img ng-repeat="im in policy.pic_filename" style="height:25px;width:25px;padding: 1px" ng-click="viewImages(im.ngUrl)" ng-src="{{im.ngUrl}}">
                    </td>
                    <td class="small" class="small" ng-if="policy.pic_filename ==''">无</td>
                    <td ng-if="has(8)">
                        <button type="button" class="btn btn-default btn-xs" ng-click="edit(policy)"><i class="fa fa-edit"></i></button>
                        <button type="button" class="btn btn-danger btn-xs" confirm ng-confirm="del(policy._id)" ng-cancel="testCancel()"><i class="fa fa-trash-o"></i></button>
                    </td>
                </tr>
                <tr>
                    <td colspan="14" align="center">
                        总共{{count}}条,当前{{page}}/{{total}}页
                        <a href="" ng-click="search(1)"> 首页</a>
                        <a href="" ng-click="search(page - 1)"> 上一页</a>
                        <a href="" ng-click="search(page + 1)"> 下一页</a>
                        <a href="" ng-click="search(total)"> 尾页</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>