
<div class="wrapper-md" ng-controller="ServiceAddCtrl">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">新工单(<span ng-if="service.service_type=='13'">清洗</span><span ng-if="service.service_type=='7'">家电维修</span>)</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">客户信息</h3>
        </div>
        <div class="panel-body">
            <form name="customerForm" class="form-validation">
                <div class="form-group col-sm-3">
                    <label class="text-right">姓名</label>
                    <div><input required class="form-control" placeholder="" ng-model="service.customer.name"></div>
                </div>
                <div class="form-group col-sm-3">
                    <label class="text-right">电话</label>
                    <div><input required class="form-control" placeholder="" ng-model="service.customer.tel"></div>
                </div>
                <div class="form-group col-sm-3">
                    <label class="text-right">邮箱</label>
                    <div><input class="form-control" placeholder="" ng-model="service.customer.email"></div>
                </div>
                <div class="form-group col-sm-3">
                    <label class="text-right">qq</label>
                    <div><input class="form-control" placeholder="" ng-model="service.customer.qq"></div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="text-right">省市区街道</label>
                    <div area-street="service.customer.street"></div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="text-right">地址</label>
                    <div><input class="form-control" placeholder="" ng-model="service.customer.address"></div>
                </div>
            </form>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">工单信息</h3>
        </div>
        <div class="panel-body">
            <form name="serviceForm" class="form-validation">
                <div class="form-group col-sm-3">
                    <label class="text-right">当前进度</label>
                    <div>
                        <select ng-change="progressChange()" class="form-control" ng-model="service.progress_id" ng-options="item.id as item.name for item in progresses">
                            <option>请选择</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-sm-3">
                    <label class="text-right">派单人</label>
                    <div>
                        <select placeholder="请选择" selectize="{labelField:'name',valueField:'id',searchField:'name'}"
                        ng-options="item.id as item.name for item in agents" ng-model="service.dispatch_by"></select>
                    </div>
                </div>
                <div class="form-group col-sm-3">
                    <label class="text-right">处理人</label>
                    <div>
                        <select placeholder="请选择" selectize="{labelField:'name',valueField:'id',searchField:'name'}"
                        ng-options="item.id as item.name for item in agents" ng-model="service.deal_by"></select>
                    </div>
                </div>
                <div class="form-group col-sm-3">
                    <label class="text-right">金额</label>
                    <div><input class="form-control" placeholder="" ng-model="service.fee"></div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="text-right">省市区街道</label>
                    <div area-street="service.street"></div>
                </div>
                <div class="form-group col-sm-12">
                    <label class="text-right">地址</label>
                    <div><input class="form-control" placeholder="" ng-model="service.address"></div>
                </div>
            </form>
        </div>
    </div>

    <div ng-repeat="progress in progresses">
        <div class="panel panel-default" ng-show="!progress.hide">
            <div class="panel-heading">进度 <span class="label label-info">{{progress.name}}</span>
            </div>
            <div class="panel-body">
                <form name="extraForm" class="form-validation" novalidate>
                    <div ng-repeat="field in progress.fields">
                        <div class="form-group col-sm-6" ng-if="field.field_type == 'linkage'">
                            <label class="text-right">{{field.name}}</label>
                            <div class="row">
                                <div class="col-md-6">
                                    <select class="form-control" ng-model="service.extra['f'+field.id].v1" ng-options="item.value as item.context for item in field.metadata1"
                                        ng-change="linkageChange(field, service.extra['f'+field.id].v1)">
                                    <option>-- 请选择 --</option>
                                </select>
                                </div>
                                <div class="col-md-6">
                                    <select class="form-control" ng-model="service.extra['f'+field.id].v2" ng-options="item.value as item.context for item in field.metadata2">
                                    <option>-- 请选择 --</option>
                                </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-12" ng-if="field.field_type == 'textarea'">
                            <label class="text-right">{{field.name}}</label>
                            <div>
                                <textarea class="form-control" rows="2" ng-model="service.extra['f'+field.id]"></textarea>
                            </div>
                        </div>
                        <div class="form-group col-sm-3" ng-if="field.field_type == 'input'">
                            <label class="text-right">{{field.name}}</label>
                            <div><input class="form-control" placeholder="" ng-model="service.extra['f'+field.id]"></div>
                        </div>
                        <div class="form-group col-sm-3" ng-if="field.field_type == 'datepicker'">
                            <label class="text-right">{{field.name}}</label>
                            <div><input class="form-control" placeholder="" mydatepicker ng-model="service.extra['f'+field.id]"></div>
                        </div>
                        <div class="form-group col-sm-6" ng-if="field.field_type == 'file'">
                            <label class="text-right">{{field.name}}</label>
                            <div class="form-group col-xs-6">
                                <div image ng-model="service.extra['f'+field.id]"></div>
                            </div>
                            <div class="form-group col-xs-6">
                                <img ng-src="{{service.extra['f'+field.id]}}">
                            </div>
                        </div>
                        <div class="form-group col-sm-3" ng-if="field.field_type == 'select'">
                            <label class="text-right">{{field.name}}</label>
                            <div>
                                <select class="form-control" ng-model="service.extra['f'+field.id]" ng-options="item.value as item.context for item in field.metadata">
                                <option>请选择</option>
                            </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-3" ng-if="field.field_type == 'tags'">
                            <label class="text-right">{{field.name}}</label>
                            <div>
                                <select placeholder="请选择" multiple="multiple" selectize="{labelField:'context',valueField:'value',searchField:'context'}" ng-options="item.value as item.context for item in field.metadata"
                                    ng-model="service.extra['f'+field.id]"></select>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div class="col-md-12 text-center">
        <button class="btn btn-primary" ng-click="save(1)">保存</button>
    </div>
</div>