<div>
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">保单预览 </h1>
    </div>
    <div class="wrapper-md">
        <div class="panel panel-default">
            <div class="panel-heading">
                客户信息&nbsp;
            </div>
            <div class="panel-body">
                <form name="customerForm" class="form-validation">
                    <div class="form-group col-xs-3">
                        <label class="control-label">手机<i class="fa fa-asterisk text-warning"></i></label>
                        <mark class="form-control-static">{{customer.mobile}}</mark>
                    </div>

                </form>
            </div>
            <div class="panel-heading">
                商品信息&nbsp;
            </div>
            <div class="panel-body">
                <form name="productForm" class="form-validation">
                    <div class="form-group col-xs-3">
                        <label class="control-label">型号<i class="fa fa-asterisk text-warning"></i></label>
                        <mark class="form-control-static">{{product.model}}</mark>
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">品牌<i class="fa fa-asterisk text-warning"></i></label>
                        <mark class="form-control-static">{{product.brand}}</mark>

                    </div>
                    <!--<div class="form-group col-xs-3">
                        <label class="control-label">类别<i class="fa fa-asterisk text-warning"></i></label>
                        <mark class="form-control-static">{{metadatas|transMetadata:'product.category':product.category}}</mark>

                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">分段类目<i class="fa fa-asterisk text-warning"></i></label>
                        <mark class="form-control-static">{{metadatas|transMetadata:'product.sub_category':product.sub_category}}</mark>
                    </div>-->
                </form>
            </div>
            <div class="panel-heading">
                保单信息&nbsp;
            </div>
            <div class="panel-body">
                <form name="policyForm" class="form-validation">
                    <div class="form-group col-xs-3">
                        <label class="control-label">延保注册码<i class="fa fa-asterisk text-warning"></i></label>
                        <mark class="form-control-static">{{policy.sn}}</mark>
                    </div>
                    <!--<div class="form-group col-xs-3">
                        <label class="control-label">延保类型<i class="fa fa-asterisk text-warning"></i></label>
                        <mark class="form-control-static">{{metadatas|transMetadata:'policy.type':policy.type}}</mark>
                    </div>-->
                    <div class="form-group col-xs-3">
                        <label class="control-label">商品序列号</label>
                        <mark class="form-control-static">{{policy.product_sn}}</mark>
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">商品价格<i class="fa fa-asterisk text-warning"></i></label>
                        <mark class="form-control-static">{{policy.product_price}}</mark>
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label">延保价格<i class="fa fa-asterisk text-warning"></i></label>
                        <mark class="form-control-static">{{policy.price}}</mark>
                    </div>
                    <!--<div class="form-group col-xs-3">
                        <label class="control-label">年限<i class="fa fa-asterisk text-warning"></i></label>
                        <mark class="form-control-static">{{metadatas|transMetadata:'policy.life':policy.life}}</mark>
                    </div>-->
                    <div class="form-group col-xs-3">
                        <label class="control-label">购买日(发票日期)<i class="fa fa-asterisk text-warning"></i></label>
                        <mark class="form-control-static">{{policy.ori_begin_at}}</mark>
                    </div>
                    
                    <div class="form-group col-xs-3">
                        <label class="control-label">补充说明</label>
                        <mark class="form-control-static">{{policy.comment}}</mark>
                    </div>
                </form>
            </div>
            <div class="panel-footer text-center">
                <button class="btn btn-success btn-sm" ng-click="realAdd()">确定</button>
                <button class="btn btn-default btn-sm" ng-click="cancel()">取消</button>
            </div>
        </div>
    </div>
</div>