<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">工单列表</h1>
</div>
<div class="wrapper-md" ng-controller="ServiceCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-inline form-validation" name="condForm">
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" placeholder="名字、电话、服务单号" ng-model="info">
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default" ng-click="search(page.page)"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>        
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="text-center">服务单号</th>
                        <th class="text-center">客户姓名</th>
                        <th class="text-center">地址</th>
                        <th class="text-center">服务类型</th>
                        <th class="text-center">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" ng-repeat="service in services">
                        <td>{{service.id}}</td>
                        <td><span trans-customer="{{service.customer_id}}"></span></td>
                        <td>{{service.address}}</td>
                        <td><span trans-category="{{service.service_type}}"></span></td>
                        <td>
                           <div class="btn-group-sm" uib-dropdown>
                               <button class="btn" uib-dropdown-toggle>操作<span class="caret"></span></button>
                               <ul uib-dropdown-menu>
                                   <li><a href="" ng-click="edit(service)">修改</a></li>
                                   <li><a href="" ng-click="view(service)">查看</a></li>
                               </ul>
                           </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-sm-4 hidden-xs">
            </div>
            <div class="col-sm-4 text-center">
                <small class="text-muted inline m-t-sm m-b-sm">总共{{page.count}}条,当前{{page.page}}/{{page.total}}页</small>
            </div>
            <div class="col-sm-4 text-right text-center-xs">
                <ul class="pagination pagination-sm m-t-none m-b-none">
                    <li><a href="" ng-click="search(1)"><i class="fa fa-angle-double-left"></i></a></li>
                    <li><a href="" ng-click="search(page.page - 1)"><i class="fa fa-angle-left"></i></a></li>
                    <li><a href="" ng-click="search(page.page + 1)"><i class="fa fa-angle-right"></i></a></li>
                    <li><a href="" ng-click="search(page.total)"><i class="fa fa-angle-double-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>